/*
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

//
// Alerts
// --------------------------------------------------

// Base styles
// -------------------------

.alert {
  text-shadow: none;
}

// Fix styling in tables
// -------------------------

th, td .alert {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

// Alternate styles
// -------------------------

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
  background-color: #b7343c;
  border-color: #ab314d;
  color: $white;
  h4 {
    color: $white;
  }
}

// nested Links
// --------------------------
.alert-danger a.link-info {
  color: #F0DFAD;
}

.alert-danger a.link-info:hover {
  color: #D9C092;
}
