/*
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

//
// Buttons
// --------------------------------------------------

// Buttons Variables
// -------------------------
$btnBackground:                 $grayLight;
$btnBackgroundHover:            darken($btnBackground, 3%);

$btnPrimaryBackground:          $linkColor;
$btnPrimaryBackgroundHover:     darken($linkColor, 3%);

$btnInfoBackground:             #4a697d;
$btnInfoBackgroundHover:        darken($btnInfoBackground, 3%);

$btnSuccessBackground:          $green;
$btnSuccessBackgroundHover:     darken($btnSuccessBackground, 3%);

$btnWarningBackground:          $orange;
$btnWarningBackgroundHover:     lighten($orange, 10%);

$btnDangerBackground:           #ee5f5b;
$btnDangerBackgroundHover:      darken($btnDangerBackground, 3%);

$btnInverseBackground:          $grayDark;
$btnInverseBackgroundHover:     darken($btnInverseBackground, 3%);

$btnBackgroundActive:           #5E6468;
$btnBackgroundActiveHightlight: darken($btnBackgroundActive, 8%);

// special Links Variables
// -------------------------
$linkDangerHover:               darken($btnDangerBackground, 15%);
$linkInfoHover:                 darken($btnInfoBackground, 15%);



// Base styles
// --------------------------------------------------
.btn {
  color: $white;
  background-color: $btnBackground;
  border: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn.active:focus {
  color: $white;
}

//.btn-large is now .btn-lg TODO: change in Templates


// Set the backgrounds
// -------------------------

.btn-default {
  background-color: $btnBackground;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default:active:focus,
.btn-default.active:focus {
  background-color: $btnBackgroundHover;
}

.btn-primary {
  background-color: $btnPrimaryBackground;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary.active:focus {
  background-color: $btnPrimaryBackgroundHover;
}

// Warning appears are orange
.btn-warning {
  background-color: $btnWarningBackground;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning:active:focus,
.btn-warning.active:focus {
  background-color: $btnWarningBackgroundHover;
}

// Danger and error appear as red
.btn-danger {
  background-color: $btnDangerBackground;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger:active:focus,
.btn-danger.active:focus {
  background-color: $btnDangerBackgroundHover;
}

// Success appears as green
.btn-success {
  background-color: $btnSuccessBackground;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:active:focus,
.btn-success.active:focus {
  background-color: $btnSuccessBackgroundHover;
}

// Info appears as a neutral blue
.btn-info {
  background-color: $btnInfoBackground;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info:active:focus,
.btn-info.active:focus {
  background-color: $btnInfoBackgroundHover;
}

// Inverse appears as dark gray
.btn-inverse {
  background-color: $btnInverseBackground;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse:active:focus,
.btn-inverse.active:focus {
  background-color: $btnInverseBackgroundHover;
}

// Simple Link
// --------------------------------------------------

// Make easy recognizable action links

a.link {
  font-weight: 600;
}

// Link color is default primary-color
// Danger and error Links appear as red
.link-danger, .link-red {
  color: $btnDangerBackground;
}

// secondary Links
.link-secondary {
    color: #8E9399;
}

a:hover.link-danger {
  color: $linkDangerHover;
}

a.link-info {
  color: #4a697d;
}

a:hover.link-info {
  color: $linkInfoHover;
}

// External links are indicated with an icon
.external-link:before {
  font-family: 'FontAwesome';
  content: '\f101';
  font-weight: normal;
  margin-right: 0.2em;
  color: $textColor;
}
