/*
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

//
// Dropdown menus
// --------------------------------------------------

// The dropdown menu (ul)
// ----------------------
.dropdown-menu {
  box-shadow: none;
  border-radius: $baseBorderRadius;
}

// Removes the first divider in a dropdown menu
ul.dropdown-menu li:first-of-type.divider {
  display: none;
}
