/*
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

//
// Footer
// --------------------------------------------------
.footer {
  padding: 15px 0;
  border-top: 3px solid $accent-color;
  background-color: white;
  color: rgba(0,0,0,0.5);
}

.footer a:hover {
  color: $primary-color;
  text-decoration: none;
}

.footer small:after {
  content: "|";
  padding: 0 0.2em;
}

.footer small:last-child:after {
  content: " ";
  padding: 0;
}
