/*
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

//
// Forms
// --------------------------------------------------

// Variables Forms
// -------------------------
$inputBorder: $borderColor;
$inputDisabledBackground: $whiteDark;

// Groups of fields with labels on top (legends)
legend, .legend, h1 {
  display: block;
  width: 100%;
  font-size: $headingsfontSize;
  line-height: $headingsLineHeight;
  padding: 0;
  padding-bottom: 5px;
  font-family: $headingsFontFamily;
  color: $gray;
  border: 0;
  border-bottom: 1px solid $borderColor;
  margin-top: 20px;
  margin-bottom: 15px;
}

// Small
legend.legend-small, .legend.legend-small {
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
}

// Small Legend top spacing
legend.legend-small:first-child, .legend.legend-small:first-child {
  margin-top: 0;
}

// make first label headline
label:first-child,
label {
  font-weight: $headingsFontWeight;
}

// helper class for labels that shouldnt be headlines
label:first-child.label-normal {
  font-weight: $bodyFontWeight;
}

// Uneditable inputs
// -------------------------

// Make uneditable inputs look inactive
.uneditable-input,
.uneditable-textarea {
  background-color: #e9eaea;
  background-color: rgba(94, 99, 103, 0.08);
}

// DISABLED STATE
// --------------
// Disabled and read-only inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #e9eaea;
  background-color: rgba(94, 99, 103, 0.08);
}

// FORM FIELD FEEDBACK STATES
// --------------------------

// Error
.control-group.error {
  //.formFieldState($errorText, $errorText, $errorBackground);
}

// FORM ACTIONS
// ------------
.form-actions {
  border-top: 1px solid $borderColor;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 19px 0;
}

.form-actions:before, .form-actions:after {
  content: "";
  display: table;
  line-height: 0;
}

.form-actions:after {
  clear: both;
}

.form-actions a.pull-right {
  margin-left: 5px;
}

// HELP TEXT
// ---------
.help-block,
.help-inline,
label .help-block,
label .help-inline {
  color: lighten($textColor, 15%); // lighten the text some for contrast
}

.help-block, label .help-block {
  display: block; // account for any element using help-block
  font-size: 85%;
  font-family: $sansFontFamily;
  font-weight: $bodyFontWeight;
}

// Required Fields
// --------------------------
.input-required:after {
  font-family: "FontAwesome";
  font-size: 7px;
  line-height: 12px;
  vertical-align: top;
  margin-left: 0.2em;
  content: "\f069";
  color: $primary-color;
}

.checkbox, .radio {
  margin-top: 0;
}

.admin-link:after {
  font-family: "FontAwesome";
  font-size: 10px;
  line-height: 12px;
  vertical-align: top;
  margin-left: 0.2em;
  content: "\f023";
}

.datefield .bootstrap-datetimepicker-widget {
  .btn table td span:hover {
    background: #8c8d91;
  }

  .picker-switch td span {
    line-height: 1.5;
    height: 1.5em;
    font-size: 24px;
  }
}

// --------------------------
// Token Autocomplete Multiselect
// --------------------------

.form-control.token-autocomplete-container {
  position: relative;
  min-height: 34px;
  height: auto;
  border-color: #ccc;
  padding-bottom: 0;

  &:focus-within {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }
}

.has-error .form-control.token-autocomplete-container {
  border-color: #a94442;
}

.form-control.token-autocomplete-container, .form-control.token-autocomplete-container * {
  font-family: 'Open Sans', Verdana, Tahoma, Arial, sans-serif;
}

.form-control.token-autocomplete-container .token-autocomplete-token {
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  background-color: #ededed;
  margin: -1px 5px 5px 0;
  height: 22px;
  font-size: 14px;
  line-height: 1.43;
  color: #555;
  padding-left: 4px;
  padding-right: 0;
  pointer-events: auto;
  cursor: default;
}

.form-control.token-autocomplete-container .token-autocomplete-token:hover {
  border-color: #b9b9b9;
  background-color: #ededed;
}

.form-control.token-autocomplete-container .token-autocomplete-token .token-autocomplete-token-delete {
  font-family: Arial;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.49em;
  vertical-align: top;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  margin-left: 0;
}

.form-control.token-autocomplete-container .token-autocomplete-token .token-autocomplete-token-delete:hover {
  background-color: transparent;
  opacity: .5;
}

.form-control.token-autocomplete-container .token-autocomplete-input {
  font-size: 14px;
  line-height: 1.43;
  margin: 0 2px 4px 2px;
  color: #757575;
  padding: 0;
}

.form-control.token-autocomplete-container .token-autocomplete-suggestions {
  position: absolute;
  border: 1px solid #ddd;
  border-radius: 2px;
  z-index: 999;
  margin-left: -12px;
  margin-right: -12px;
  top: 100%;
  max-height: 220px;
  overflow-y: scroll;
}

.form-control.token-autocomplete-container .token-autocomplete-suggestions li.token-autocomplete-suggestion-active {
  background-color: #ededed;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.form-control.token-autocomplete-container .token-autocomplete-suggestions li:hover,
.form-control.token-autocomplete-container .token-autocomplete-suggestions li.token-autocomplete-suggestion-active:hover,
.form-control.token-autocomplete-container .token-autocomplete-suggestions li.token-autocomplete-suggestion-highlighted {
  background-color: #66afe9;
  color: #ffffff;
}

.form-control.token-autocomplete-container .token-autocomplete-suggestions li:hover .token-autocomplete-suggestion-description,
.form-control.token-autocomplete-container .token-autocomplete-suggestions li.token-autocomplete-suggestion-highlighted .token-autocomplete-suggestion-description {
  background-color: #66afe9;
  color: #ffffff;
}

// --------------------------
// Token Autocomplete Singleselect
// --------------------------

.form-control.token-autocomplete-container.token-autocomplete-singleselect .token-autocomplete-input {
  padding-left: 0;
  color: #000000;
}

.form-control.token-autocomplete-container.token-autocomplete-singleselect {
  .token-autocomplete-input:after {
    border-color: #888 transparent transparent transparent;
    border-width: 5px 4px 0 4px;
    top: 9px;
    right: 0px;
  }

  &.optional-singleselect-with-value {
    .token-autocomplete-input:after {
      right: -10px;
    }

    .token-singleselect-token-delete {
      border-radius: 5px;
      padding-bottom: 0px;
      border: 1px solid #d9d9d9;
      background-color: #ededed;
      text-shadow: 0 1px 0 #fff;
      color: rgba(0, 0, 0, 0.4);
      top: 6px;
      font-weight: 700;
      right: 30px;

      &:hover {
        color: rgba(0, 0, 0, 0.7);
        text-decoration: none;
      }
    }
  }
}



