#menu-nav {
  background-color: #43474a;
  border-top: 3px solid $primary-menu-color;
  border-bottom: 0;
  border-radius: 0;
}

#menu-nav .navbar-nav > li > a:hover,
#menu-nav .navbar-nav > li > a:focus,
#menu-nav .dropdown-menu > li > a:hover,
#menu-nav .navbar-nav > li > a:focus {
  background-color: $primary-menu-color;
}

#menu-nav .navbar-nav > li > a {
  color: #e7e7e7;
  float: none;
  font-size: 16px;
  padding: 20px 15px;
  text-decoration: none;
}

.footer {
  background-color: #43474a;
  border-top: 3px solid $primary-menu-color;
  color: #e7e7e7;
  padding: 15px 0;
}

