/*
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

//
// Navs
// --------------------------------------------------


// Navbar Variables
// -------------------------
$navbarBackground:              white;
$navbarBorder:                  $accent-color;
$navbarLinkColor:               rgba(0,0,0,0.5);
$navbarLinkColorHover:          rgba(0,0,0,0.7);
$navbarLinkColorActive:         rgba(0,0,0,0.7);


// BASE CLASS
// ----------

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: $primary-color;
  color: $white;
}

// Component: Navs
// --------------------------------------------------

// Nav headers (for dropdowns and lists)
.nav-header {
  font-weight: 700;
  color: $grayLight;
  display: block;
  font-size: 11px;
  font-weight: normal;
  line-height: 20px;
  padding: 3px 15px;
  text-transform: uppercase;
}

.nav li + .nav-header {
  margin-top: 9px;
}



// NAV LIST
// --------

.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin-left:  -15px;
  margin-right: -15px;
  //text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.nav-list > li > a {
  padding: 3px 15px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: $white;
  //text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  background-color: $linkColor;
}
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 5px;
}
.nav-list i {
  margin-right: 5px;
}

.nav-list > li > a:hover i,
.nav-list > li > a:focus i,
.nav-list > .active > a i {
  color: $white;
}

// SUB NAV
// --------

.sub-nav {
  a {
    border-bottom: 1px solid #E5E5E5;
    font-weight: $headingsFontWeight;
    font-size: 14px;
    line-height: 24px;
    i {
      line-height: 24px;
      color: $gray;
      width: 14px;
    }
  }
}

.sub-nav > li > a {
  padding-right: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word; //legacy IE
}


// SUB SUB  NAV
// --------

.sub-sub-nav {
  a {
    font-weight: $headingsFontWeight;
    font-size: 11.9px;
    color: #8E9399;
    border-bottom: 0;
    line-height: 18px;
    background-color: $white;
  }
}

.nav.sub-sub-nav > li > a:hover,
.nav.sub-sub-nav > li > a:focus,
.nav-list.sub-sub-nav > .active > a,
.nav-list.sub-sub-nav > .active > a:hover,
.nav-list.sub-sub-nav > .active > a:focus {
  background-color: #8E9399;
}

// TABS
// ----
// Make the list-items overlay the bottom border
.nav-tabs > li {
  margin-right: 3px;
}

.nav-tabs > li > a {
  border: 1px solid $inputBorder;
}

// Active state, and it's :hover/:focus to override normal :hover/:focus
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: $white;
  background-color: $primary-color;
}

.nav-tabs > .active > a {
  border: 1px solid $primary-color;
}

.nav-tabs > .active > a:hover {
  color: $white;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  cursor: pointer;
}

.nav-tabs > li > a:hover {
  color: $primary-color;
  background-color: #e7e8e8;
  background-color: rgba(94, 99, 103, 0.08);
  border: 1px solid $inputBorder;
  text-shadow: none;
}


//
// Navbars
// --------------------------------------------------

// Inner for background effects
.navbar-static-top {
  border-bottom: 3px solid $navbarBorder;
  border-top: none;
  background-color: $navbarBackground;
  border-radius: none;
  padding-left: 2%;
  padding-right: 2%;
}

.navbar-default .navbar-nav > li > a {
  color: rgba(0,0,0,0.5) !important;
  font-size: 16px;
  padding: 20px 15px;
  
  > i {
    color: inherit;
  }
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  float: none;
  text-decoration: none;

  &:hover, &:focus {
    color: rgba(0,0,0,0.7) !important;
  }
}

.navbar-nav.nav-right {
  float: right;
}

@media(max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: rgba(0,0,0,0.7) !important;
  }

  .navbar-nav.nav-right {
    float: none;
  }
}


// Resize Logo in Navbar
.navbar .navbar-brand img,
.navbar .navbar-brand svg {
  max-height: 33px;
  max-width: 100px;
}

li.right-menu-icon {
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75em;

  a {
    padding: 0.5rem !important;
  }

  img {
    height: 1.5rem;
  }

  &:not(:last-child) {
    border-right: 1px solid #ddd;
    padding-right: 0.75em;
  }

}

li.right-large-menu-icon {

  a {
    padding-top: 0.25rem !important;
    padding-bottom: 0 !important;

    img {
      height: 2rem;
    }
  }
}

.menu-search-form {
  padding-top: 0.25rem;

  input {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
    padding: 0.5rem;
    font-size: 0.9rem;
    box-shadow: none !important;
  }
}
