/*
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

//
// Scaffolding
// --------------------------------------------------

// Body reset
// -------------------------

body {
  font-family: $sansFontFamily;
  color: $textColor;
  background-color: $bodyBackground;

  // prevents blurry rendering in iframes
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

// Links
// -------------------------

a {
  color: $linkColor;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $linkColorHover;
    text-decoration: none;
  }

}
