/*
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

//
// Statistics
// --------------------------------------------------

.statistics-legend li {
  height: 35px;
  list-style-type: none;
  display: inline-block;
  padding: 2px 40px 2px 28px;
}

.statistics-legend li span.block {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.statistics-legend li p {
  display: inline-block;
  margin: 0;
  vertical-align: 50%;
}

.statistic {
  margin-bottom: 10px;

  .statistic-value {
    font-size: 4em;
    line-height: 1em;
    text-align: center;
    font-weight: 300;
  }

  .statistic-label {
    text-transform: uppercase;
    color: inherit;
    display: block;
    font-size: 1em;
    text-align: center;
    font-weight: 300;
    white-space: normal;
    height: 32px;
  }

  .statistic-help {
    text-transform: none;
    color: #6c7378;
    font-size: 80%;
    text-align: center;
    padding-top: 10px;
  }
}

.statistic {
  &.mini .statistic-value {
    font-size: 1.25em;
  }
  &.tiny .statistic-value {
    font-size: 2em;
  }
  &.small .statistic-value {
    font-size: 3em;
  }
  &.large .statistic-value {
    font-size: 5em;
  }
  &.huge .statistic-value {
    font-size: 6em;
  }
}

.statistic {
  &.primary {
    .statistic-value {
      color: $color_primary;
    }
  }

  &.green {
    .statistic-value {
      color: $green;
    }
  }

  &.blue {
    .statistic-value {
      color: $blue;
    }
  }

  &.yellow {
    .statistic-value {
      color: $yellow;
    }
  }

  &.red {
    .statistic-value {
      color: $red;
    }
  }

  &.orange {
    .statistic-value {
      color: $orange;
    }
  }

}

// Defines colors as classes (e.g. for table cells)
.color {
  &.primary {
    color: $color_primary;
  }

  &.bold {
    font-weight: bold;
  }

  &.green {
    color: $green;
  }

  &.blue {
    color: $blue;
  }

  &.yellow {
    color: $yellow;
  }

  &.red {
    color: $red;
  }

  &.orange {
    color: $orange;
  }
}
