/*
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

//
// Wells
// --------------------------------------------------

// Base class
.well {
  display: block;
  background-color: $white;
  color: $textColor;
  border: 1px solid $borderColor;
  border-radius: $baseBorderRadius;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  .legend {
    margin: -10px -10px 10px;
    padding: 0 10px;
    font-size: 16px;
  }

  h1,
  h2 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    margin: 5px;
    font-weight: normal;
  }

  h2 {
    font-size: 24px;
  }

  table {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
  }
}

.well.nav-box {
  padding: 0px;
}

.well.help-box {
  background-color: rgba(142, 199, 234, 0.4);
  border: 1px solid #bfe1f3;
  color: #4a697d;
  font-size: 11.9px;
  line-height: 17px;
  padding: 8px;

}

.well.help-box.p:last-child {
  margin-bottom: 0;
}

.infobox {

  .well {
    position: relative;

    .well-colorbox {
      display: block;
      left: 0px;
      top: 0px;
      position: absolute;
      bottom: 0;
      width: 5px;
    }

    .legend {
      box-sizing: initial;
      padding: 5px 10px;
      width: inherit;
      margin: -10px -10px 10px;
    }

    .info-line {
      margin-left: -20px;
      margin-right: -20px;
    }

  }


}
