@args String name, String titleKey
<div id="@name" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="@(name + " Title")">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="@i18n(" NLS.close
            ")">&times;</button>
            <h4 class="modal-title" id="@(name + " Title")">@if (Strings.isFilled(titleKey)) { @i18n(titleKey) }</h4>
        </div>
        @renderBody()
    </div>
</div>
</div>