@args String span, String name, String value, String labelKey, String helpKey, boolean required
<div class="span@span control-group @user.signalFieldError(name)">
    @if (required) {
    <label>
        <span class="input-required">@i18n(labelKey)</span>
    </label>
    } else {
        <label>@i18n(labelKey)</label>
    }
    <input name="@name" type="text" value="@user.getFieldValue(name, value)" class="input-block-level" />
    @if (helpKey != null) {
        <span class="help-block">@i18n(helpKey)</span>
    }
</div>