/*!
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

.bl-gray {
  border-left: 1px solid rgba(0,0,0, 0.25);
}

.br-gray {
  border-right: 1px solid rgba(0,0,0, 0.25);
}

.bt-gray {
  border-top: 1px solid rgba(0,0,0, 0.25);
}

.bb-gray {
  border-bottom: 1px solid rgba(0,0,0, 0.25);
}

.left-border {
  border-left-width: 4px;
  border-left-style: solid;
}
