/*!
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

.btn-outline-link {
  border: 1px solid $grayLight;
  border-radius: 4px;
  color: $grayDark;
}

.btn-link {
  color: $grayDark;
}

.btn-link.active,
.btn-link:hover,
.btn-outline-link.active,
.btn-outline-link:hover,
.dropdown.show > .btn-link {
  color: #fff !important;
  background-color: $primary-color;
  border-color: $primary-color;
  text-decoration: none;
}

.btn-primary {
  color: #fff !important;
}


.btn-info {
  background-color: $sirius-blue;
  color: #fff !important;

  &:hover {
    background-color: $sirius-blue-dark;
  }
}

.btn-outline-info {
  border-color: $sirius-blue;
  color: $sirius-blue;

  &:hover {
    background-color: $sirius-blue;
    color: #fff !important;
  }
}
