/*!
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

// Colors
// -------------------------
$grayDarker:                    #2b3037;
$grayDark:                      #43474A;
$gray:                          #5E6468;
$grayLight:                     #949598;
$whiteDark:                     #f0f0f0;
$white:                         #ffffff;

$blueDark:                      #4E6D81;
$blueLight:                     #6D98B4;

$backgroundGray:                #F5F6F5;

// Accent colors
// -------------------------
$green:                         #5eb526;
$blue:                          #497EBF;
$red:                           #e74c3c;
$orange:                        #f89406;
$yellow:                        #f1c40f;

$primary-color: $sirius-primary;
$primary-color-dark: $sirius-primary-dark;
$accent-color: $sirius-accent;
