/*!
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

$primary-color: $sirius-primary;
$primary-color-dark: $sirius-primary-dark;
$accent-color: $sirius-accent;



