/*!
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

// --------------------------
// Token Autocomplete
// --------------------------

.form-control.token-autocomplete-container {
  padding: 0;
  border: 1px solid #ced4da;
  border-radius: .25rem;

  .token-autocomplete-token {
    border-radius: 0;
    line-height: 24px;
    font-size: 1rem;

    &:first-child {
      margin-left: .75rem;
    }

    .token-autocomplete-token-delete {
      line-height: 24px;

      &:hover {
        background-color: inherit;
      }
    }
  }

  .token-autocomplete-suggestions {
    z-index: 1000;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }

  .token-autocomplete-input {
    margin-top: 6px;
    font-size: 1rem;
    line-height: 24px;

    &:first-child {
      margin-left: .75rem;
      padding-left: 0;
    }
  }
}


.form-control.token-autocomplete-container.token-autocomplete-singleselect {
  .token-autocomplete-input:after {
    top: 10px;
    right: 10px;
  }

  &.optional-singleselect-with-value .token-singleselect-token-delete {
    padding-bottom: 0px;
    border: none;
    background-color: transparent;
    top: 6px;
    font-weight: 700;
    right: 32px;
  }
}
