/*!
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

.cursor-pointer {
  cursor: pointer;
}

a {
  color: $primary-color;
}

// Hide the first divider in each menu...
.dropdown-menu div:first-of-type.dropdown-divider {
  display: none;
}

.admin-link-icon {
  font-size: 10px;
  line-height: 12px;
  vertical-align: top;
  margin-left: 0.5em;
}

@media (min-width: 1400px) {

  .d-xxl-inline {
    display: inline !important;
  }

  .d-xxl-none {
    display: none !important;
  }

}

@media (min-width: 960px) {

  .sticky-top-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  .fixed-bottom-lg {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

}

.nav-link .badge {
  line-height: 1.5;
  background-color: $sirius-gray;
  color: white;
  min-width: 1.5rem;
}

.nav-link:hover, .nav-link.active {
  .badge {
    background-color: white;
    color: #333;
  }
}

.back-button {
  display: none;
}
