/*!
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

.cursor-pointer {
  cursor: pointer;
}

a {
  color: $primary-color;
}

.btn-primary {
  background-color: $primary-color;
}

.btn-outline-primary {
  border-color: $primary-color;
}

// Hide the first divider in each menu...
.dropdown-menu div:first-of-type.dropdown-divider {
  display: none;
}

.admin-link-icon {
  font-size: 10px;
  line-height: 12px;
  vertical-align: top;
  margin-left: 0.5em;
}
