.sci-overlay-static-body {
  height: 100%;
  overflow: hidden;
}

.sci-overlay-background {
  z-index: 10000;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  &.first {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .sci-overlay {
    position: fixed;
    top: 32px;
    left: 32px;
    right: 32px;
    bottom: 32px;

    .sci-overlay-infobar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 39px;
      padding: 0 8px 0 15px;
      font-size: 18px;
      overflow: hidden;
      color: #e7e7e7;
      background-color: #333;
      border: 1px solid #333;
      border-radius: 4px 4px 0 0;

      .sci-overlay-infobar-left {
        flex: 0 1 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .sci-overlay-infobar-right {
        flex: 0 0 auto;

        a {
          display: block;
        }
      }

      .sci-overlay-button {
        height: 28px;
        width: 28px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 20px;
        color: #e7e7e7;
      }

      .sci-overlay-button-close {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAAH7+Yj7AAAABGdBTUEAALGPC/xhBQAAAmBJREFUWAntV1FqAjEQ7a7FCwiitEUL7S0s+NGDC+0tWlBpiyJ4Aalu88K+MpvNZLNbP0qbBZkk8+blZZzM6sVF62ez2RT4IDBvHR0ZsNvt7rbb7TvhdqPT6bTI83wOJx1nsjgQabEvD+ilJ4ABXpBkANDMV17gb1+EcHkYjPf7/Q11ZxzASmCWZR+j0eha+itjgGUAnZWqAgBMcPrANsg4prJcVCC3+M/WJGellW5Z2lNffipfNAEgOh6PL5z3er374XD4CqKiKK6wrhWCl5BELnGIiDGVwuEiLboHx7RQqKUCGK9C7Wgexbfj8XjFzYJW3igXiOp219I8ZeDcGXC7qORHcaNxyDU5rl29sqCXuGKyNSNI3JSJRlojHAwGb3wRSFJBZgWZDvQolXHsvctwuvcZ5AxiO+NcWpUQIEnKoBAZMLUjM9A683wu50gFGq1cc8eqQjdnDNQ6Nf1ehS4Zjun7okgibU1h2euWBMmcyZxqSmsKyw68BqEkwxy/ToTSGdain1KpFx/q5t6AtJgykDLwtzOAphBqGtrpEdOlodR6a2gD41uYzwQYtET8z256vaDx41e1eGGizc5jf/RGCcTpjaBnsQk02kcT6hHGEHs4wzWLERklkMxNmyKjwDoZw5J9tMPQ77OtBJIgJJQYabsIY3wngQxuEvoTYdyjs8Amcd8bRF4m4l3bWmBIGDKGDdpcJleQO48W2CRMtpw2WFeQO48SiAZ7OByeTLDtgSRpqrGA0HW/33/AvxZyaTZKIIPLN8jCCLuUGaNfs0Lop8FEN2mNL62nDKQMiAx8Aaga3KSrrMd5AAAAAElFTkSuQmCC");

        &:hover {
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAAH7+Yj7AAAABGdBTUEAALGPC/xhBQAAAeZJREFUWAntVkFywyAMjPuOZoaD//8mH9p3pLsEMUKAATtuOy2aUQhCWi1rTHK7DdsjGAvfhqs7C9BjhX8k6QyEhTVZOD8BLM3DYmSbRxVVEjAmPBI1iLAsyzt8IRKmWxXxNy+QODcjHPkddpd5Mj7X4mf6/JJMTCTNxjMdkfDJJBbYZD9H3MFju2pisfqfBSEOH2hydEUCigh3Mm+OBIJr88AI+JcoLMQn0wSUBBRaYGKNAylAzSgQ80NRCqnLRrJQ1ZERYpaxy4prARSX3ygUYK0fqNZgxqcCDQV4zuDxQOt0xHm4Nx3b/Y7kO1wsAUVQvylDoNmrZ8DY8Nz7TARlY2CiCQA0U8E7BkZQIGjNCJhoKo27xgIYAWnjoCiyzDjX2+8HRSHPoLaoGYKHQbeAGMFEJwXqJNY1orBagLXqbd4FPpOmAlOBv6UAL4W9S6O2W9ZceqGEBnJFYurv2eyqtASRZy96Yjibd2pOwEAIQ2b8QciIMgbXPxa6kPHXkuQOO5qSVItYtplT6pWKGySwnBkVu56YJcumcDav2c8QI1EwapET0t9LskGMZOglu5YoOq7wruYjufbYHJqjIS9n3l/WdlVBcm1TxHr9v0CAOjjBd4lZFZAvRFnr7PqcTwWmAicU+AKrUDRZ5uuhtQAAAABJRU5ErkJggg==");
        }
      }
    }

    .sci-overlay-content-outer-container {
      height: calc(100% - 39px);
      overflow: scroll;
      padding: 0px 30px;
      background-color: white;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-radius: 0 0 4px 4px;

      .sci-overlay-content-inner-container {
        margin: 20px 0;
      }
    }
  }
}
