/*!
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

body {
  background-color: $backgroundGray;
}

#wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: 80px 1fr 40px;

  #wrapper-body {
    min-width: 0;
  }
}


nav.navbar {
  z-index: 1000;
  border-bottom: 3px solid $accent-color;
  background-color: #fff;
  padding: 0.5rem 2%;

  /* Prevents the nav dropdowns from exceeding the displayed area and entries being cut off. */
  .navbar-nav .nav-item.dropdown .dropdown-menu {
    max-height: 85vh;
    overflow-y: auto;
  }
}

#page-header h1 {
  font-size: 1.5rem;
}


.breadcrumb {
  background-color: transparent;
  font-size: 0.85rem;
  padding: 0;
  margin: 0;

  li:first-of-type {
    padding-left: 0px;

    a {
      padding-left: 0px;
    }
  }

  li {
    padding-left: 8px;
  }

  a {
    padding-left: 8px;
    color: $grayLight;
  }

  & > li + li:before {
    content: "\203a";
  }

}

#main-container {
  padding-top: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  flex-grow: 1;
}

.footer {
  line-height: 36px;
  border-top: 2px solid $accent-color;
  background-color: #fff;
}

@media (min-width: 700px) {
  .container-fluid {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.page-header {
  h1 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 0px;
  }
}
