/*!
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

.nav-header {
  padding: .5rem 0;
  text-transform: uppercase;
  color: $grayLight;
  font-size: 0.9rem;
}

.nav-pills {
  .nav-link {
    margin: 0 -0.75rem;
    color: $primary-color !important;

    &.muted {
      color: $grayLight !important;
      &:hover {
        color: $white !important;
        background-color: $grayLight !important;
      }
    }
  }

  .nav-link .nav-link-icon {
    color: $grayDark;
    // Some fa icons are more narrow therefore we fix the width here...
    width: 24px;
    text-align: center;
  }

  .nav-link .badge, .nav-link .nav-link-icon {
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
  }

  .nav-link.active, .nav-link:hover {
    .nav-link-icon {
      color: $white !important;
    }
    color: $white !important;
    background-color: $primary-color;
  }
}

.sticky-sidebar {
  height: fit-content;
  z-index: 0;
}

@media (max-width: 992px) {
  .sticky-sidebar {
    position: static;
  }
}
