/*!
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

.nav-header {
  padding: .5rem 0;
  text-transform: uppercase;
  color: $grayLight;
  font-size: 0.9rem;
}

.nav-pills {
  .nav-link {
    margin: 0 -1rem;
  }

  .nav-link .nav-link-icon {
    color: $grayDark;
    // Some fa icons are more narrow therefore we fix the width here...
    width: 24px;
    text-align: center;
  }

  .nav-link.active, .nav-link:hover, .nav-link:hover .nav-link-icon, .nav-link.active .nav-link-icon {
    color: #fff;
    background-color: $primary-color;
  }
}

.sticky-sidebar {
  height: fit-content;
}

@media (max-width: 992px) {
  .sticky-sidebar {
    position: static;
    z-index: 0;
  }
}
