/*!
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

$sirius-accent: #f1c40f;

$sirius-primary: #3171D5;
$sirius-primary-dark: #275AAA;

$sirius-red: #D12600;
$sirius-red-dark: #AB100E;
$sirius-red-light: #ED5547;

$sirius-green: #47C47F;
$sirius-green-dark: #2F9663;
$sirius-green-light: #77D9A3;

$sirius-blue: #406FC7;
$sirius-blue-dark: #33589F;
$sirius-blue-light: #668DC6;

$sirius-violet: #DB397A;
$sirius-violet-dark: #BD2461;
$sirius-violet-light: #ED5C96;

$sirius-orange: #F08700;
$sirius-orange-dark: #D46A00;
$sirius-orange-light: #FAA93E;

$sirius-yellow: #FFBF00;
$sirius-yellow-dark: #E6A607;
$sirius-yellow-light: #FFD34F;

$sirius-cyan: #46C6E3;
$sirius-cyan-dark: #268E9E;
$sirius-cyan-light: #68D3E3;

$sirius-deep-blue: #53599A;
$sirius-deep-blue-dark: #352E87;

$sirius-white: #FFFFFF;
$sirius-white-dark: #F4F4F4;

$sirius-gray-lighter: #E6E6E6;
$sirius-grey-lighter: $sirius-gray-lighter;
$sirius-gray-light: #C7C7C7;
$sirius-grey-light: $sirius-gray-light;
$sirius-gray: #ACACAC;
$sirius-grey: $sirius-gray;
$sirius-gray-dark: #808080;
$sirius-grey-dark: $sirius-gray-dark;
$sirius-gray-darker: #474747;
$sirius-grey-darker: $sirius-gray-darker;

$sirius-black: #000000;

.sci-text-red, .text-sirius-red {
  color: $sirius-red !important;
}
.sci-bg-red, .bg-sirius-red {
  background-color: $sirius-red !important;
}
.sci-border-red, .border-sirius-red {
  border-color: $sirius-red;
}

.sci-text-red-dark, .text-sirius-red-dark {
  color: $sirius-red-dark !important;
}
.sci-bg-red-dark, .bg-sirius-red-dark {
  background-color: $sirius-red-dark !important;
}
.sci-border-red-dark, .border-sirius-red-dark {
  border-color: $sirius-red-dark;
}

.sci-text-red-light, .text-sirius-red-light {
  color: $sirius-red-light !important;
}
.sci-bg-red-light, .bg-sirius-red-light {
  background-color: $sirius-red-light !important;
}
.sci-border-red-light, .border-sirius-red-light {
  border-color: $sirius-red-light;
}

.sci-text-green, .text-sirius-green {
  color: $sirius-green !important;
}
.sci-bg-green, .bg-sirius-green {
  background-color: $sirius-green !important;
}
.sci-border-green, .border-sirius-green {
  border-color: $sirius-green;
}

.sci-text-green-dark, .text-sirius-green-dark {
  color: $sirius-green-dark !important;
}
.sci-bg-green-dark, .bg-sirius-green-dark {
  background-color: $sirius-green-dark !important;
}
.sci-border-green-dark, .border-sirius-green-dark {
  border-color: $sirius-green-dark;
}

.sci-text-green-light, .text-sirius-green-light {
  color: $sirius-green-light !important;
}
.sci-bg-green-light, .bg-sirius-green-light {
  background-color: $sirius-green-light !important;
}
.sci-border-green-light, .border-sirius-green-light {
  border-color: $sirius-green-light;
}

.sci-text-blue, .text-sirius-blue {
  color: $sirius-blue !important;
}
.sci-bg-blue, .bg-sirius-blue {
  background-color: $sirius-blue !important;
}
.sci-border-blue, .border-sirius-blue {
  border-color: $sirius-blue;
}

.sci-text-blue-dark, .text-sirius-blue-dark {
  color: $sirius-blue-dark !important;
}
.sci-bg-blue-dark, .bg-sirius-blue-dark {
  background-color: $sirius-blue-dark !important;
}
.sci-border-blue-dark, .border-sirius-blue-dark {
  border-color: $sirius-blue-dark;
}

.sci-text-blue-light, .text-sirius-blue-light {
  color: $sirius-blue-light !important;
}
.sci-bg-blue-light, .bg-sirius-blue-light {
  background-color: $sirius-blue-light !important;
}
.sci-border-blue-light, .border-sirius-blue-light {
  border-color: $sirius-blue-light;
}

.sci-text-violet, .text-sirius-violet {
  color: $sirius-violet !important;
}
.sci-bg-violet, .bg-sirius-violet {
  background-color: $sirius-violet !important;
}
.sci-border-violet, .border-sirius-violet {
  border-color: $sirius-violet;
}

.sci-text-violet-dark, .text-sirius-violet-dark {
  color: $sirius-violet-dark !important;
}
.sci-bg-violet-dark, .bg-sirius-violet-dark {
  background-color: $sirius-violet-dark !important;
}
.sci-border-violet-dark, .border-sirius-violet-dark {
  border-color: $sirius-violet-dark;
}

.sci-text-violet-light, .text-sirius-violet-light {
  color: $sirius-violet-light !important;
}
.sci-bg-violet-light, .bg-sirius-violet-light {
  background-color: $sirius-violet-light !important;
}
.sci-border-violet-light, .border-sirius-violet-light {
  border-color: $sirius-violet-light;
}

.sci-text-orange, .text-sirius-orange {
  color: $sirius-orange !important;
}
.sci-bg-orange, .bg-sirius-orange {
  background-color: $sirius-orange !important;
}
.sci-border-orange, .border-sirius-orange {
  border-color: $sirius-orange;
}

.sci-text-orange-dark, .text-sirius-orange-dark {
  color: $sirius-orange-dark !important;
}
.sci-bg-orange-dark, .bg-sirius-orange-dark {
  background-color: $sirius-orange-dark !important;
}
.sci-border-orange-dark, .border-sirius-orange-dark {
  border-color: $sirius-orange-dark;
}

.sci-text-orange-light, .text-sirius-orange-light {
  color: $sirius-orange-light !important;
}
.sci-bg-orange-light, .bg-sirius-orange-light {
  background-color: $sirius-orange-light !important;
}
.sci-border-orange-light, .border-sirius-orange-light {
  border-color: $sirius-orange-light;
}

.sci-text-yellow, .text-sirius-yellow {
  color: $sirius-yellow !important;
}
.sci-bg-yellow, .bg-sirius-yellow {
  background-color: $sirius-yellow !important;
}
.sci-border-yellow, .border-sirius-yellow {
  border-color: $sirius-yellow;
}

.sci-text-yellow-dark, .text-sirius-yellow-dark {
  color: $sirius-yellow-dark !important;
}
.sci-bg-yellow-dark, .bg-sirius-yellow-dark {
  background-color: $sirius-yellow-dark !important;
}
.sci-border-yellow-dark, .border-sirius-yellow-dark {
  border-color: $sirius-yellow-dark;
}

.sci-text-yellow-light, .text-sirius-yellow-light {
  color: $sirius-yellow-light !important;
}
.sci-bg-yellow-light, .bg-sirius-yellow-light {
  background-color: $sirius-yellow-light !important;
}
.sci-border-yellow-light, .border-sirius-yellow-light {
  border-color: $sirius-yellow-light;
}

.sci-text-cyan, .text-sirius-cyan {
  color: $sirius-cyan !important;
}
.sci-bg-cyan, .bg-sirius-cyan {
  background-color: $sirius-cyan !important;
}
.sci-border-cyan, .border-sirius-cyan {
  border-color: $sirius-cyan;
}

.sci-text-cyan-dark, .text-sirius-cyan-dark {
  color: $sirius-cyan-dark !important;
}
.sci-bg-cyan-dark, .bg-sirius-cyan-dark {
  background-color: $sirius-cyan-dark !important;
}
.sci-border-cyan-dark, .border-sirius-cyan-dark {
  border-color: $sirius-cyan-dark;
}

.sci-text-cyan-light, .text-sirius-cyan-light {
  color: $sirius-cyan-light !important;
}
.sci-bg-cyan-light, .bg-sirius-cyan-light {
  background-color: $sirius-cyan-light !important;
}
.sci-border-cyan-light, .border-sirius-cyan-light {
  border-color: $sirius-cyan-light;
}

.sci-text-white, .text-sirius-white {
  color: $sirius-white !important;
}
.sci-bg-white, .bg-sirius-white {
  background-color: $sirius-white !important;
}
.sci-border-white, .border-sirius-white {
  border-color: $sirius-white;
}

.sci-text-white-dark, .text-sirius-white-dark {
  color: $sirius-white-dark !important;
}
.sci-bg-white-dark, .bg-sirius-white-dark {
  background-color: $sirius-white-dark !important;
}
.sci-border-white-dark, .border-sirius-white-dark {
  border-color: $sirius-white-dark;
}

.sci-text-gray-lighter, .sci-text-grey-lighter, .text-sirius-gray-lighter, .text-sirius-grey-lighter {
  color: $sirius-gray-lighter !important;
}
.sci-bg-gray-lighter, .sci-bg-grey-lighter, .bg-sirius-gray-lighter, .bg-sirius-grey-lighter {
  background-color: $sirius-gray-lighter !important;
}
.sci-border-gray-lighter, .sci-border-grey-lighter, .border-sirius-gray-lighter, .border-sirius-grey-lighter {
  border-color: $sirius-gray-lighter;
}

.sci-text-gray-light, .sci-text-grey-light, .text-sirius-gray-light, .text-sirius-grey-light {
  color: $sirius-gray-light !important;
}
.sci-bg-gray-light, .sci-bg-grey-light, .bg-sirius-gray-light, .bg-sirius-grey-light {
  background-color: $sirius-gray-light !important;
}
.sci-border-gray-light, .sci-border-grey-light, .border-sirius-gray-light, .border-sirius-grey-light {
  border-color: $sirius-gray-light;
}

.sci-text-gray, .sci-text-grey, .text-sirius-gray, .text-sirius-grey {
  color: $sirius-gray !important;
}
.sci-bg-gray, .sci-bg-grey, .bg-sirius-gray, .bg-sirius-grey {
  background-color: $sirius-gray !important;
}
.sci-border-gray, .sci-border-grey, .border-sirius-gray, .border-sirius-grey {
  border-color: $sirius-gray;
}

.sci-text-gray-dark, .sci-text-grey-dark, .text-sirius-gray-dark, .text-sirius-grey-dark {
  color: $sirius-gray-dark !important;
}
.sci-bg-gray-dark, .sci-bg-grey-dark, .bg-sirius-gray-dark, .bg-sirius-grey-dark {
  background-color: $sirius-gray-dark !important;
}
.sci-border-gray-dark, .sci-border-grey-dark, .border-sirius-gray-dark, .border-sirius-grey-dark {
  border-color: $sirius-gray-dark;
}

.sci-text-gray-darker, .sci-text-grey-darker, .text-sirius-gray-darker, .text-sirius-grey-darker {
  color: $sirius-gray-darker !important;
}
.sci-bg-gray-darker, .sci-bg-grey-darker, .bg-sirius-gray-darker, .bg-sirius-grey-darker {
  background-color: $sirius-gray-darker !important;
}
.sci-border-gray-darker, .sci-border-grey-darker, .border-sirius-gray-darker, .border-sirius-grey-darker {
  border-color: $sirius-gray-darker;
}

.sci-text-black, .text-sirius-black {
  color: $sirius-black !important;
}
.sci-bg-black, .bg-sirius-black {
  background-color: $sirius-black !important;
}
.sci-border-black, .border-sirius-black {
  border-color: $sirius-black;
}

.sci-text-deep-blue, .text-sirius-deep-blue {
  color: $sirius-deep-blue !important;
}
.sci-bg-deep-blue, .bg-sirius-deep-blue {
  background-color: $sirius-deep-blue !important;
}
.sci-border-deep-blue, .border-sirius-deep-blue {
  border-color: $sirius-deep-blue;
}

.sci-text-deep-blue-dark, .text-sirius-deep-blue-dark {
  color: $sirius-deep-blue-dark !important;
}
.sci-bg-deep-blue-dark, .bg-sirius-deep-blue-dark {
  background-color: $sirius-deep-blue-dark !important;
}
.sci-border-deep-blue-dark, .border-sirius-deep-blue-dark {
  border-color: $sirius-deep-blue-dark;
}
