/*!
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

.dot-block {
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    align-self: center;
    color: $grayDark;
  }

  display: inline-flex;
  flex-flow: row;
  font-size: 0.85rem;
}

.tycho-tag {
  padding: 4px 8px;
  background-color: $whiteDark;
  border-left: 4px solid $whiteDark;
  border-radius: 4px;
  color: $grayDark;
  font-size: 0.85rem;
  line-height: 1;
}

.tycho-tags {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
