.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.text-black-75 {
  color: rgba(0, 0, 0, 0.75) !important;
}

.display-5 {
  font-size: 2.5rem;
}

.text-lg11 {
  font-size: 1.1rem;
}

.text-lg12 {
  font-size: 1.2rem;
}

.text-lg13 {
  font-size: 1.3rem;
}

.text-lg14 {
  font-size: 1.4rem;
}

.text-lg15 {
  font-size: 1.5rem;
}

.text-sm9 {
  font-size: .9rem;
}

.text-sm8 {
  font-size: .8rem;
}

.text-sm7 {
  font-size: .7rem;
}

.text-sm6 {
  font-size: .6rem;
}

.text-sm5 {
  font-size: .5rem;
}
