.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.text-black-75 {
  color: rgba(33, 37, 41, 0.75) !important;
}

.text-black {
  color: #212529 !important;
}

.display-5 {
  font-size: 2.5rem;
}

.text-small {
  font-size: .9rem;
}
