/*
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

.autocomplete-wrapper {
    position: absolute;
    display: none;
    z-index: 999;
    padding: 0;
}

.autocomplete-row {
    padding: 4px 8px;
}

.autocomplete-row-heading {
    font-weight: 600;
    font-size: 85%;
    background-color: #f4f4f6;
    padding-top: 8px;
    padding-bottom: 8px;
}

.autocomplete-preview-img {
    text-align: center;
}

.autocomplete-preview-img img {
    max-height: 48px;
}

.autocomplete-selectable-element {
    cursor: pointer;
}

.autocomplete-selected-element, .navigation-up-down-js:hover, .navigation-left-right-js:hover {
    background-color: #E8E8EA
}

.sirius-select .autocomplete-row.autocomplete-selected-element,
.sirius-select .autocomplete-row.in-token-field.autocomplete-selected-element {
    background-color: #66afe9;
    color: #ffffff;
}

.sirius-select .autocomplete-row.in-token-field {
    background-color: #ededed;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin: 2px 0;
}

.single-select .tokenfield {
    cursor: pointer;
    position: relative;
}

.single-select .token {
    cursor: pointer;
    width: 100%;
    background-color: inherit;
    border: none;
    margin: 0;
}

.single-select .token .token-label {
    padding: 0;
}

.single-select .token .close {
    float: right;
    color: #888;
    text-shadow: none;
    opacity: 1;
    font-size: 1em;
    padding: 0px 8px 0px 10px;
}

.single-select.required .token .close {
    display: none;
}

.single-select .arrow {
    border-style: solid;
    border-width: 0;
    height: 0;
    position: absolute;
    top: 13px;
    right: 5px;
}

.single-select .arrow.arrow-down {
    border-color: #888 transparent transparent transparent;
    border-width: 5px 4px 0 4px;
}

.single-select .arrow.arrow-up {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}
