/*
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

.autocomplete-wrapper {
    position: absolute;
    display: none;
    z-index: 999;
    padding: 0;
}

.autocomplete-row {
    padding: 4px 8px;
}

.autocomplete-row-heading {
    font-weight: 600;
    font-size: 85%;
    background-color: #f4f4f6;
    padding-top: 8px;
    padding-bottom: 8px;
}

.autocomplete-preview-img {
    text-align: center;
}

.autocomplete-preview-img img {
    max-height: 48px;
}

.autocomplete-selectable-element {
    cursor: pointer;
}

.autocomplete-selected-element, .navigation-up-down-js:hover, .navigation-left-right-js:hover {
    background-color: #E8E8EA
}

.multiselect .autocomplete-row.autocomplete-selected-element,
.multiselect .autocomplete-row.in-token-field.autocomplete-selected-element {
    background-color: #66afe9;
    color: #ffffff;
}

.multiselect .autocomplete-row.in-token-field {
    background-color: #ededed;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin: 2px 0;
}
