/*
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

#include('/assets/frontend/swfobject.js.vm')

function closeShadowbox(targetURL, frame) {
    if (targetURL != null && targetURL != '') {
        window.location = targetURL;
    } else {
        $.featherlight.current().close();
    }
}

function openShadowBox(catalogId, context) {
    $.featherlight(
        '<div id="oxomi-catalog-overlay">Flash Player is required.</div>',
        {
            variant: 'featherlight-fullscreen',
            closeIcon: null
        }
    );

    var container = $('#oxomi-catalog-overlay');
    var swfVersionStr = '10.2.0';
    var xiSwfUrlStr = context + '/playerProductInstall.swf';
    var flashvars = {
        overlay: 'true',
        catalog: catalogId,
        context: context,
        newUrlStyle: 'true'
    };
    var params = {
        quality: 'high',
        bgcolor: '#ffffff',
        allowscriptaccess: 'always',
        allowfullscreen: true,
        wmode: 'opaque'
    };
    var attributes = {
        id: 'portal-viewer-swf',
        name: 'portal-viewer',
        align: 'middle'
    };
    swfobject.embedSWF(
        context + '/catalog/viewer', 'oxomi-catalog-overlay',
        container.width(), container.height(),
        swfVersionStr, xiSwfUrlStr,
        flashvars, params, attributes);
}