@args String span, String name, boolean value, String labelKey, String helpKey, boolean readonly
<div class="col-md-@(span == null || span == "" ? 6 : span)">
    <div class="form-group checkbox">
        <label>
            <input type="checkbox" name="@name" value="true" @if (value) { checked="checked" } @if (readonly) { disabled="disabled" } />
            @i18n(labelKey)
            @if (helpKey != null) {
                <span class="help-block">@i18n(helpKey)</span>
            }
        </label>
    </div>
</div>