@args String name, String uploadUrl, String previewUrl, String imageUrl, String allowedExtensions

@{
    String containerClassName = Strings.isFilled(name) ? name : "image-upload-" + call.generateLocalId();
}
<div class="@containerClassName"></div>
<script type="text/javascript">
    $('.@containerClassName').each(function (index) {
        imageUpload('@uploadUrl',
                    this,
                    @if (Strings.isFilled(previewUrl)) { '@previewUrl' } else { '@imageUrl' },
                    '@imageUrl',
                    @if (Strings.isFilled(allowedExtensions)) { @raw() { @allowedExtensions } } else { [] });
    });
</script>