@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args String span, String name, String labelKey, String helpKey, boolean optional, boolean adminOnly, boolean forceFullWidth, boolean required
<div class="col-md-@(span == null || span == "" ? 6 : span) form-group">
    @if (Strings.isFilled(labelKey)) {
        <label class="@if (required) { input-required } @if (adminOnly) { admin-link }">@i18n(labelKey)</label>
    }
    <select name="@name"
            class="select2-select form-control @user.signalFieldError(name)"
            @if (optional) {
                data-optional="true"
            }
            @if(forceFullWidth) {
                style="width: 100%;"
            }>
        @if (optional) {
            <option value=""></option>
        }
        @renderBody()
    </select>
    @if (Strings.isFilled(helpKey)) {
        <span class="help-block">@i18n(helpKey)</span>
    }
</div>