@args String uri, sirius.web.controller.Page page
<div class="well">
    <div class="pull-left">
        <form class="form-inline" action="@prefix/@uri" method="get" id="search">
            <div class="input-append">
                <input type="text" name="query" value="@page.getQuery()" placeholder="@i18n("NLS.searchkey")" autofocus />
                <span class="add-on" onclick="$('#search').submit()"><i class="icon-search"></i></span>
            </div>
        </form>
    </div>
    <div class="pull-right">
        @renderBody()
        <a class="btn" href="@prefix/@uri?@page.createQueryString()"><i class="icon-refresh"></i></a>
    </div>
    <span class="clearfix"></span>
</div>