@args String span, String name, String value, String label, String labelKey, String helpKey, String addonText, boolean required, boolean readonly, boolean adminOnly
<div class="col-md-@(span == null || span == "" ? 6 : span) form-group @user.signalFieldError(name)">
    <label>
        <span class="@if (required) { input-required } @if (adminOnly) { admin-link }">
            @if (labelKey != null && labelKey != "") {
                @i18n(labelKey)
            } else {
                @label
            }
        </span>
    </label>
    @if (addonText) {
        <div class="input-group">
            <input name="@name" type="text" value="@user.getFieldValue(name, value)" class="form-control input-block-level" @if (readonly) { readonly } />
            <span class="input-group-addon">@raw() { @addonText }</span>
        </div>
    } else {
        <input name="@name" type="text" value="@user.getFieldValue(name, value)" class="form-control input-block-level" @if (readonly) { readonly } />
    }
    @if (Strings.isFilled(helpKey)) {
        <span class="help-block">@i18n(helpKey)</span>
    }

    @if (user.hasError(name)) {
        <span class="error-block help-block">@user.getFieldErrorMessage(name)</span>
    }
</div>