@args String span, String name, String value, String labelKey, String helpKey, String addonText, boolean required, boolean readonly, boolean adminonly
<div class="col-md-@(span == null || span == "" ? 6 : span) form-group @user.signalFieldError(name)">
    <label>
        <span class="@if (required) { input-required } @if (adminonly) { admin-link }">@i18n(labelKey)</span>
    </label>
    @if (addonText) {
        <div class="input-group">
            <input name="@name" type="text" value="@user.getFieldValue(name, value)" class="form-control input-block-level" @if (readonly) { readonly } />
            <span class="input-group-addon">@raw() { @addonText }</span>
        </div>
    } else {
        <input name="@name" type="text" value="@user.getFieldValue(name, value)" class="form-control input-block-level" @if (readonly) { readonly } />
    }
    @if (helpKey != null) {
        <span class="help-block">@i18n(helpKey)</span>
    }
</div>