#sci-dialog-background {
  --sci-dialog-base-unit: var(--sci-base-unit, 16px);
  /* A bit higher than the z-index of the overlay component */
  z-index: 11000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#sci-dialog {
  flex-basis: 600px;
  max-width: 800px;
  min-height: 200px;
  max-height: 100%;
  max-width: 100%;

  #sci-dialog-header {
    border-bottom: 1px solid;

    .sci-dialog-button-close {
      width: calc(1.5 * var(--sci-dialog-base-unit));
      height: calc(1.5 * var(--sci-dialog-base-unit));
    }
  }

  #sci-dialog-footer {
    flex-direction: row-reverse;
    border-top: 1px solid;
  }

  #sci-dialog-content {
    overflow-y: auto;
  }
}

@media (max-width: 576px) {
  #sci-dialog-background {
    justify-content: stretch;
  }

  #sci-dialog {
    flex-basis: 100%;
    height: calc(100% - calc(2 * var(--sci-dialog-base-unit)));
    min-height: unset;
    max-width: unset;
  }
}

@media (max-height: 280px) {
  #sci-dialog-background {
    justify-content: stretch;
  }

  #sci-dialog {
    flex-basis: 100%;
    height: calc(100% - calc(2 * var(--sci-dialog-base-unit)));
    min-height: unset;
    max-width: unset;
  }
}

#sci-dialog-content #sci-dialog-wizard {
  margin-bottom: calc(1.5 * var(--sci-dialog-base-unit));

  #sci-dialog-wizard-line {
    height: 2px;
    background: $sirius-grey-light;
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10px;
  }

  #sci-dialog-wizard-steps {
    width: 75%;
    margin: 0 auto;

    .sci-dialog-wizard-step {
      cursor: not-allowed;

      .sci-dialog-wizard-step-bubble {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $sirius-white;
        border: calc(0.25 * var(--sci-dialog-base-unit)) solid $sirius-grey-light;
        z-index: 1;
      }

      .sci-dialog-wizard-step-label {
        position: absolute;
        top: calc(100% + 14px);
        white-space: nowrap;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $sirius-grey-light;
      }

      @media (max-width: 480px) {
        .sci-dialog-wizard-step-label {
          display: none;
        }
      }

      &.sci-dialog-wizard-step-reachable {
        .sci-dialog-wizard-step-bubble {
          background: $sirius-grey-light;
          border: initial;
        }

        .sci-dialog-wizard-step-label {
          color: $sirius-grey-light;
        }
      }

      &.sci-dialog-wizard-step-active {
        .sci-dialog-wizard-step-bubble {
          background: $sirius-primary;
          border: initial;
        }

        .sci-dialog-wizard-step-label {
          color: $sirius-grey-dark;
        }
      }

      &.sci-dialog-wizard-step-reachable:hover {
        .sci-dialog-wizard-step-bubble {
          background: $sirius-grey-dark;
          cursor: pointer;
        }

        .sci-dialog-wizard-step-bubble.sci-dialog-wizard-step-active {
          color: $sirius-primary;
          cursor: default;
        }

        .sci-dialog-wizard-step-label {
          color: $sirius-grey-dark;
          cursor: pointer;
        }

        .sci-dialog-wizard-step-label.sci-dialog-wizard-step-active {
          color: $sirius-grey-dark;
          cursor: default;
        }
      }
    }
  }
}

#sci-dialog-content #sci-dialog-wizard-tabs {
  .sci-dialog-wizard-tab {
    display: none;

    &.sci-dialog-wizard-tab-active {
      display: flex;
    }
  }
}
