.sci-overlay-static-body {
  height: 100%;
  overflow: hidden;
}

.sci-overlay-background {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .sci-overlay {
    position: fixed;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;

    &.sci-overlay-use-full-screen {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .sci-overlay-button-container {
      position: fixed;
      width: 32px;
      height: 32px;
      right: 2px;
      top: 2px;

      .sci-overlay-button {
        display: block;
        height: 32px;
        width: 32px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 32px;
      }

      .sci-overlay-button-close {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAQKADAAQAAAABAAAAQAAAAABGUUKwAAAIJUlEQVR4AeWbTWgWRxjHJ6ZEERULMXiK4CGiBhQ8eAgEKURR0INH9fAmlUIv0ibUoAcpXiRIIngRijU5aI4eKigoFBFy8FDQkih6EMxJYmiLgh9Bmz6/dWeZnZ3dnd13Td+8PvCwO5/P/P873zPboj6zLC4ubhATvaLbRbeIdom2i64NVR7qdajz8nwq+kR0RvReS0vLS3kuLxHQu0RHRf8U/Ve0rJCWPMhrV0OzIAVcKzokOiP6uYS8sUHtaQyRwqwX/Vn0L9GlEmxhc329LLSUzUCMk7YmOiJKO8+VhYUF9eLFCzU/P6/evHmj3r17F6RZtWqVWr16tWpvb1cbN25UbW1tuXmFEegfhkUnpK9Y9E1kxitFgIDvlEwmRXvMzOz3V69eqQcPHqjp6Wn1+PFjNTc3pyStHS3mFiCqo6NDbd26VXV3d6udO3eqdevWxeI4HFPid0TSzjrCMr0KEyAAAH1dtMOVMwDv37+v7t69qx4+fKg+fvzoiubt19raqnbs2KH27Nmjdu/erSAoRebE/7CEQ4a3pObmykHADYj/JVFnHeVrX7t2TT1//tyVvG6/TZs2qaNHjwa1IiWzBfH/Xki4khKe8PYiQIC3Ssrzoj8mchCPZ8+eqatXrwZV3RVetR9N49ixY2rz5s1pWV+QgJ+EiNzql0tACJ4qf8i2RvUeHx9Xd+7cyW3bdtp63TSFvr4+1d/fr2gmDvlN/GgSmST4EDAmGSW+PB3c6Oho0Lk5jC+ZF53l0NBQWkd5QQgYzCpMJgFhm//VzmB2dlaNjIyoly8bY5bKqHHy5EnV2cnglJBvhYTUPiGVAAFPb/+7aKzDo6MbGxuLxvCEuf/Jg7nE4OCgq4OkY/xGSHCODitc5RXwUEm7j4HnyzcieDAwqaJslNESMFwPMVlBSiUIkIjUiknR2DhPm6fa69lbIqcG8KBslJGyWgKWyRBbLChBgITWRGMzPHp7OrxGafMxBJaDMlJWxwQMTDUruor1AcIQiwvW47G5/eXLl9Xt27fttDH3ypUrg7G5p6cnqCU3btxQt27disUp69i/f786ePCgop1PTU0Fc473799nZrd37151/PhxOw69dpf0B//oALsG/CABMfBMchjns4SCnT59Wu3bt0+tWbMmWNQwPtdqtaxkXmHkQV4slMgbG9jCZpZQZspuCdjAGElEgHx91tgnopDwhRmehNnekZsvf+rUqWDxEnmGLwcOHKiLBMCThy2M/djEdppQZsrukBMh1iAoIkBc34l+bSbQKznTz35nSkqB0qQsCWngtR1sYjtLWIWCwRIwgjUQk4AB7ckTBlnY5AltPk+KkpAHXtvzsQ0GRw2OsAYESAT227bpjHmypPVZ1fkOi74k+IKnjD62wQAWS7aFmKN5wBErQrCet/1cbnp7X8kjoQh4bPraZm/CIQFm3QT6zAhMJNjM8BGGups3b/pEDeKkkVAUPDZ9h1mwOCZHAeYVUhUYGrpNBHQcjomEGSX2PjExURcJZcBj01fA4ugMu8H+lWTSKxqbENF7FhVdIL6wj5jxzPe8tHx5bSsvrhkOpt5eoEYC5l4I2B55hS9sYJYRXTBfQL7xdFnKgid9Cqbt9AEcV0XC1jW7t2UFEor0Cb526gGPDTCBzZItENBlerJvL23D9Cr8XjUJ9YIHAJjAZkkXBHBQGUlVK76qSKgCvAbHgYwl7RAQO2d7+/atFae8s14SqgQPCk6jLFmbIMBndmVlkuksS0LV4CmkA1tAQCaAZg+kBnA5IZK8dXYU0fOl6CRHZ8sQSdoqxYHtdYIATmmrkrLgtf2qSXBgCwiIdY3svFQh9YLXZaiSBAe2eWrAU22MJ+fzsmdmehV+rwq8NlwFCWACmyVPIYALSZFwOYGTlrJSNXhdjnpJAJPj4sUTCJjRRvQza4tLx3E9i4JnqEN9pR4SUjDNsBi6J8rcN6r3HD+nbCKklrUMeOYIWgDnIzqemdYnHZgsAfO9FdI22CuPrX+5lpJy5Gzl8clZL/iik6WiNQEsYLJkGuw0ASS28c+dHK6l+AiHFvqr+MRPm+GVIQHbPgIWxz2jALMmYNLOiDs5PsKJja+kgdfpi5LgazsFS4A5IECqwh9SiEe6IDy5kMSdnDxxzK6cSfLA60RFSPCxDQawWPIoxBztChN+xYwkEYILSaaf652zujzxBa/z8SXBxzaXqsBiSYRVNwHCfxH924xIx+HoPc0owfFTynZTEK8oeJ15HgnYTDn60llE9wwjj08vYARrIBEBwhKLoouhf/Tg+MnBYBTOKe25c+ece25lwevM00gAPDazTogpc8rR2cUQa2AmVjdk22i9+DI1jp0QN/PxeIwAKBES+uURtRH82Fc/e/as8ysT3mjCrO/MmTOuucyAfP1xs7xREzA8J+Q91rMxkeAq2oYNsYphJGmcV8pIWR0TOTBN2CVNECAMMUU8IhrbG2ciMTw8nHsxwTawlG6GRcromPSAhcvUYItJggBCJeKsPA6LLuDWwj08rqL5jL86zVI9KRNlc9wVBAM3RsGUkEQfYMaQ/mBA3A1/UZJqz5d3gAdOuYuSmggh4cu9KgsJQkCrPLg0eQi3KR8+fFCM1U19WRrAIQnn5TVxaZrwpr4uD0AtYZ9wSdxt2s98cgbflD9MmCCFBG5F0SScG4cS3ry/zGgiBGSnvLOezrwixrUUakVT/TRlkMAQWhNd1r/NaTyln1IblvWPk6WB2wmFiC/z11mbCNxCxrL5eTpzKuwCV9RPyGAJ2SvKZayG+33+PxVxKHBVv+6UAAAAAElFTkSuQmCC");
      }
    }

    .sci-overlay-content-outer-container {
      height: 100%;
      overflow: scroll;
      padding: 0px 30px;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 4px;

      .sci-overlay-content-inner-container {
        margin: 20px 0;
      }
    }
  }
}
