.sci-overlay-static-body {
  height: 100%;
  overflow: hidden;
}

.sci-overlay-background {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.first {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .sci-overlay {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;

    .sci-overlay-button-container {
      position: fixed;
      width: 2rem;
      height: 2rem;
      right: -0.5rem;
      top: -0.5rem;

      .sci-overlay-button {
        display: block;
        height: 2.0rem;
        width: 2.0rem;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 1.5rem;
      }

      .sci-overlay-button-close {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAAH7+Yj7AAAABGdBTUEAALGPC/xhBQAAAmBJREFUWAntV1FqAjEQ7a7FCwiitEUL7S0s+NGDC+0tWlBpiyJ4Aalu88K+MpvNZLNbP0qbBZkk8+blZZzM6sVF62ez2RT4IDBvHR0ZsNvt7rbb7TvhdqPT6bTI83wOJx1nsjgQabEvD+ilJ4ABXpBkANDMV17gb1+EcHkYjPf7/Q11ZxzASmCWZR+j0eha+itjgGUAnZWqAgBMcPrANsg4prJcVCC3+M/WJGellW5Z2lNffipfNAEgOh6PL5z3er374XD4CqKiKK6wrhWCl5BELnGIiDGVwuEiLboHx7RQqKUCGK9C7Wgexbfj8XjFzYJW3igXiOp219I8ZeDcGXC7qORHcaNxyDU5rl29sqCXuGKyNSNI3JSJRlojHAwGb3wRSFJBZgWZDvQolXHsvctwuvcZ5AxiO+NcWpUQIEnKoBAZMLUjM9A683wu50gFGq1cc8eqQjdnDNQ6Nf1ehS4Zjun7okgibU1h2euWBMmcyZxqSmsKyw68BqEkwxy/ToTSGdain1KpFx/q5t6AtJgykDLwtzOAphBqGtrpEdOlodR6a2gD41uYzwQYtET8z256vaDx41e1eGGizc5jf/RGCcTpjaBnsQk02kcT6hHGEHs4wzWLERklkMxNmyKjwDoZw5J9tMPQ77OtBJIgJJQYabsIY3wngQxuEvoTYdyjs8Amcd8bRF4m4l3bWmBIGDKGDdpcJleQO48W2CRMtpw2WFeQO48SiAZ7OByeTLDtgSRpqrGA0HW/33/AvxZyaTZKIIPLN8jCCLuUGaNfs0Lop8FEN2mNL62nDKQMiAx8Aaga3KSrrMd5AAAAAElFTkSuQmCC");

        &:hover {
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAAH7+Yj7AAAABGdBTUEAALGPC/xhBQAAAeZJREFUWAntVkFywyAMjPuOZoaD//8mH9p3pLsEMUKAATtuOy2aUQhCWi1rTHK7DdsjGAvfhqs7C9BjhX8k6QyEhTVZOD8BLM3DYmSbRxVVEjAmPBI1iLAsyzt8IRKmWxXxNy+QODcjHPkddpd5Mj7X4mf6/JJMTCTNxjMdkfDJJBbYZD9H3MFju2pisfqfBSEOH2hydEUCigh3Mm+OBIJr88AI+JcoLMQn0wSUBBRaYGKNAylAzSgQ80NRCqnLRrJQ1ZERYpaxy4prARSX3ygUYK0fqNZgxqcCDQV4zuDxQOt0xHm4Nx3b/Y7kO1wsAUVQvylDoNmrZ8DY8Nz7TARlY2CiCQA0U8E7BkZQIGjNCJhoKo27xgIYAWnjoCiyzDjX2+8HRSHPoLaoGYKHQbeAGMFEJwXqJNY1orBagLXqbd4FPpOmAlOBv6UAL4W9S6O2W9ZceqGEBnJFYurv2eyqtASRZy96Yjibd2pOwEAIQ2b8QciIMgbXPxa6kPHXkuQOO5qSVItYtplT6pWKGySwnBkVu56YJcumcDav2c8QI1EwapET0t9LskGMZOglu5YoOq7wruYjufbYHJqjIS9n3l/WdlVBcm1TxHr9v0CAOjjBd4lZFZAvRFnr7PqcTwWmAicU+AKrUDRZ5uuhtQAAAABJRU5ErkJggg==");
        }
      }
    }

    .sci-overlay-content-outer-container {
      height: 100%;
      overflow: scroll;
      padding: 0px 30px;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 0.25rem;

      .sci-overlay-content-inner-container {
        margin: 20px 0;
      }
    }
  }
}
