.sci-slider-wrapper {
  --sci-slider-base-unit: var(--sci-base-unit, 16px);

  .sci-slider-top {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    .sci-slider {
      position: relative;
      flex: 1;
      overflow: hidden;

      > .sci-slider-view > * {
        contain: content;
      }
    }

    > .sci-slider-button {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      flex: 0;
      overflow: hidden;
      width: calc(2.5 * var(--sci-slider-base-unit));
      min-width: calc(2.5 * var(--sci-slider-base-unit));
      max-width: calc(2.5 * var(--sci-slider-base-unit));

      a {
        width: calc(1.5 * var(--sci-slider-base-unit));
        height: calc(1.5 * var(--sci-slider-base-unit));
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &.sci-slider-previous-icon {
          background-image: url(svgResource('/assets/images/icons/slider/previous.svg', #c0c0c0));
        }

        &.sci-slider-next-icon {
          background-image: url(svgResource('/assets/images/icons/slider/next.svg', #c0c0c0));
        }
      }
    }
  }

  .sci-slider-dots {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    font-size: calc(0.75 * var(--sci-slider-base-unit));

    a {
      color: #767676;
      text-decoration: none;
      padding: calc(0.25 * var(--sci-slider-base-unit)) calc(0.125 * var(--sci-slider-base-unit));
      cursor: pointer;

      &.sci-slider-dot-active {
        color: #545454;
      }
    }
  }
}
