@import "i-do-not-exist";

.sci-slider-wrapper {
  .sci-slider-top {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    .sci-slider {
      position: relative;
      flex: 1;
      overflow: hidden;

      > .sci-slider-view > * {
        contain: content;
      }
    }

    > .sci-slider-button {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      flex: 0;
      overflow: hidden;
      width: 2.5rem;
      min-width: 2.5rem;
      max-width: 2.5rem;

      a {
        width: 1.5rem;
        height: 1.5rem;
        background-size: contain;

        &.sci-slider-previous-icon {
          background-image: url(base64Resource('/assets/images/icons/slider/previous-not-existing.png'));
        }

        &.sci-slider-next-icon {
          background-image: url(base64Resource('/assets/images/icons/slider/next.png'));
        }
      }
    }
  }

  .sci-slider-dots {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    font-size: 0.75rem;

    a {
      color: #C7C7C7;
      text-decoration: none;
      padding: 0.25rem 0.125rem;
      cursor: pointer;

      &.sci-slider-dot-active {
        color: #5E6468;
      }
    }
  }
}
