.sci-btn {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-width: 0;
  border-style: none;
  border-radius: var(--sci-border-radius);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: var(--sci-margin-1_5) var(--sci-margin-2);
  display: inline-block;

  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.sci-btn-small {
  @extend .sci-btn;

  padding: 6px;
}

.sci-btn-outline {
  @extend .sci-btn;

  border-width: var(--sci-border-width-1);
  border-style: solid;
}

.sci-btn-primary {
  @extend .sci-btn;

  background-color: $sirius-primary !important;
  color: $sirius-white !important;

  @media (hover: hover) {
    &:hover {
      background-color: lighten($sirius-primary, 25%) !important;
      color: $sirius-white !important;
    }
  }

  &.active {
    background-color: lighten($sirius-primary, 25%) !important;
    color: $sirius-white !important;
  }

  &:disabled, &.sci-btn-disabled {
    background-color: mix($sirius-primary, $sirius-white, 0.6) !important;
    cursor: default;
  }

  &.sci-btn-disabled {
    pointer-events: none;
  }
}

.sci-btn-secondary {
  @extend .sci-btn;

  background-color: $sirius-gray-dark !important;
  color: $sirius-white !important;

  @media (hover: hover) {
    &:hover {
      background-color: lighten($sirius-gray-dark, 25%) !important;
      color: $sirius-white !important;
    }
  }

  &.active {
    background-color: lighten($sirius-gray-dark, 25%) !important;
    color: $sirius-white !important;
  }

  &:disabled, &.sci-btn-disabled {
    background-color: mix($sirius-gray-dark, $sirius-white, 0.6) !important;
    cursor: default;
  }

  &.sci-btn-disabled {
    pointer-events: none;
  }
}

.sci-btn-white {
  @extend .sci-btn;

  background-color: $sirius-white;
  color: $sirius-gray-dark !important;

  @media (hover: hover) {
    &:hover{
      background-color: $sirius-gray-light !important;
      color: $sirius-gray-dark !important;
    }
  }

  &.active {
    background-color: $sirius-gray-light !important;
    color: $sirius-gray-dark !important;
  }
}

.sci-btn-primary-outline {
  @extend .sci-btn;
  @extend .sci-btn-outline;

  border-color: $sirius-primary !important;
  color: $sirius-primary !important;

  @media (hover: hover) {
    &:hover {
      background-color: $sirius-primary !important;
      color: $sirius-white !important;
    }
  }

  &.active {
    background-color: $sirius-primary !important;
    color: $sirius-white !important;
  }

  &:disabled, &.sci-btn-disabled {
    border-color: mix($sirius-primary, $sirius-white, 0.6) !important;
    color: mix($sirius-primary, $sirius-white, 0.6) !important;
    cursor: default;
  }

  &.sci-btn-disabled {
    pointer-events: none;
  }
}

.sci-btn-secondary-outline {
  @extend .sci-btn;
  @extend .sci-btn-outline;

  border-color: $sirius-gray-dark !important;
  color: $sirius-gray-dark !important;

  @media (hover: hover) {
    &:hover {
      background-color: $sirius-gray-dark !important;
      color: $sirius-white !important;
    }
  }

  &.active {
    background-color: $sirius-gray-dark !important;
    color: $sirius-white !important;
  }

  &:disabled, &.sci-btn-disabled {
    border-color: mix($sirius-gray-dark, $sirius-white, 0.6) !important;
    color: mix($sirius-gray-dark, $sirius-white, 0.6) !important;
    cursor: default;
  }

  &.sci-btn-disabled {
    pointer-events: none;
  }
}

.sci-btn-white-outline {
  @extend .sci-btn;
  @extend .sci-btn-outline;

  border-color: $sirius-white !important;
  color: $sirius-white !important;

  @media (hover: hover) {
    &:hover {
      background-color: $sirius-white !important;
      color: $sirius-gray-dark !important;
    }
  }

  &.active {
    background-color: $sirius-white !important;
    color: $sirius-gray-dark !important;
  }
}
