.sci-d-none {
  display: none !important;
}

.sci-d-flex {
  display: flex !important;
}

.sci-d-inline-block {
  display: inline-block !important;
}

.sci-d-block {
  display: block !important;
}

.sci-d-grid {
  display: -ms-grid !important;
  display: grid !important;
}

@media (min-width: $sm-min-width) {
  .sci-d-sm-none {
    display: none !important;
  }

  .sci-d-sm-flex {
    display: flex !important;
  }

  .sci-d-sm-inline-block {
    display: inline-block !important;
  }

  .sci-d-sm-block {
    display: block !important;
  }
}

@media (min-width: $md-min-width) {
  .sci-d-md-none {
    display: none !important;
  }

  .sci-d-md-flex {
    display: flex !important;
  }

  .sci-d-md-inline-block {
    display: inline-block !important;
  }

  .sci-d-md-block {
    display: block !important;
  }
}

@media (min-width: $lg-min-width) {
  .sci-d-lg-none {
    display: none !important;
  }

  .sci-d-lg-flex {
    display: flex !important;
  }

  .sci-d-lg-inline-block {
    display: inline-block !important;
  }

  .sci-d-lg-block {
    display: block !important;
  }
}
