.sci-text-input {
  border-width: var(--sci-border-width-1);
  border-style: solid;
  border-radius: var(--sci-border-radius);
  border-color: $sirius-gray;
  padding: var(--sci-margin-15);
  font-size: var(--sci-font-size-base);
  line-height: 1.5;
}

.sci-text-input-label {
  @extend .sci-text;
  @extend .sci-text-larger;
}

.sci-token-single-select {
  border-width: var(--sci-border-width-1);
  border-style: solid;
  border-radius: var(--sci-border-radius);
  border-color: $sirius-gray;
  padding: calc(0.25 * var(--sci-base-unit));
}

.sci-token-single-select.token-autocomplete-container.token-autocomplete-singleselect.token-autocomplete-has-value .token-autocomplete-input {
  padding-right: 56px;
}

.sci-token-single-select.token-autocomplete-container.token-autocomplete-singleselect.token-autocomplete-has-value .token-autocomplete-delete-button {
  right: 24px;
}

// DISABLED STATE
// --------------
// Disabled and read-only inputs
input.sci-text-input[disabled],
textarea.sci-text-input[disabled],
input.sci-text-input[readonly],
textarea.sci-text-input[readonly] {
  border-color: #747474;
  background-color: #E9ECEF;
}
