.sci-text-input {
  border-width: 0.125rem;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: $sirius-gray;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}

.sci-text-input-label {
  @extend .sci-text;
  @extend .sci-text-larger;
}

.sci-token-single-select {
  border-width: 0.125rem;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: $sirius-gray;
  padding: 0.25rem;
}

.sci-token-single-select.token-autocomplete-container.token-autocomplete-singleselect.token-autocomplete-has-value .token-autocomplete-delete-button {
  right: 1.5rem;
}

// DISABLED STATE
// --------------
// Disabled and read-only inputs
input.sci-text-input[disabled],
textarea.sci-text-input[disabled],
input.sci-text-input[readonly],
textarea.sci-text-input[readonly] {
  border-color: #747474;
  background-color: #E9ECEF;
}
