:root {
  --sci-icon-size-smallest: calc(0.7 * var(--sci-base-unit));
  --sci-icon-size-smaller: calc(0.9 * var(--sci-base-unit));
  --sci-icon-size-small: var(--sci-base-unit);
  --sci-icon-size-medium: calc(1.5 * var(--sci-base-unit));
  --sci-icon-size-large: calc(2 * var(--sci-base-unit));
  --sci-icon-size-larger: calc(4 * var(--sci-base-unit));
}

.sci-icon, .sci-icon-medium, .sci-icon-availability, .sci-icon-availability-supplier {
  width: var(--sci-icon-size-medium);
  height: var(--sci-icon-size-medium);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sci-icon-smallest {
  @extend .sci-icon;

  width: var(--sci-icon-size-smallest);
  height: var(--sci-icon-size-smallest);
}

.sci-icon-smaller {
  @extend .sci-icon;

  width: var(--sci-icon-size-smaller);
  height: var(--sci-icon-size-smaller);
}

.sci-icon-small {
  @extend .sci-icon;

  width: var(--sci-icon-size-small);
  height: var(--sci-icon-size-small);
}


.sci-icon-large {
  @extend .sci-icon;

  width: var(--sci-icon-size-large);
  height: var(--sci-icon-size-large);
}

.sci-icon-larger {
  @extend .sci-icon;

  width: var(--sci-icon-size-larger);
  height: var(--sci-icon-size-larger);
}

.sci-icon-availability-unknown {
  background-image: url(svgResource('/assets/images/icons/availability/unknown.svg'));
}

.sci-icon-availability-no_longer_available {
  background-image: url(svgResource('/assets/images/icons/availability/no-longer-available.svg'));
}

.sci-icon-availability-made_to_order {
  background-image: url(svgResource('/assets/images/icons/availability/made-to-order.svg'));
}

.sci-icon-availability-order_item {
  background-image: url(svgResource('/assets/images/icons/availability/order-item.svg'));
}

.sci-icon-availability-out_of_stock {
  background-image: url(svgResource('/assets/images/icons/availability/out-of-stock.svg'));
}

.sci-icon-availability-low {
  background-image: url(svgResource('/assets/images/icons/availability/low.svg'));
}

.sci-icon-availability-full {
  background-image: url(svgResource('/assets/images/icons/availability/full.svg'));
}

.sci-icon-availability-supplier-unknown {
  background-image: url(svgResource('/assets/images/icons/availability/supplier-unknown.svg'));
}

.sci-icon-availability-supplier-no_longer_available {
  background-image: url(svgResource('/assets/images/icons/availability/supplier-no-longer-available.svg'));
}

.sci-icon-availability-supplier-made_to_order {
  background-image: url(svgResource('/assets/images/icons/availability/supplier-made-to-order.svg'));
}

.sci-icon-availability-supplier-out_of_stock {
  background-image: url(svgResource('/assets/images/icons/availability/supplier-out-of-stock.svg'));
}

.sci-icon-availability-supplier-low {
  background-image: url(svgResource('/assets/images/icons/availability/supplier-low.svg'));
}

.sci-icon-availability-supplier-full {
  background-image: url(svgResource('/assets/images/icons/availability/supplier-full.svg'));
}

/* Automatically turns blue cart icon white on hover when used inside of blue outline button */
.sci-icon-product-cart-white,
.sci-btn-primary-outline:hover .sci-icon-product-cart-blue,
.sci-icon-shopping-cart-white,
.sci-btn-secondary-outline:hover .sci-icon-shopping-cart-blue {
  background-image: url(svgResource('/assets/images/icons/cart.svg', $sirius-white));
}

.sci-icon-product-cart-blue, .sci-icon-shopping-cart-blue {
  background-image: url(svgResource('/assets/images/icons/cart.svg', #3465CC));
}

.sci-icon-product-cart-text-soft, .sci-icon-shopping-cart-text-soft {
  background-image: url(svgResource('/assets/images/icons/cart.svg', #212529));
}

.sci-icon-download-text-soft {
  background-image: url(svgResource('/assets/images/icons/download.svg', #212529));
}

.sci-icon-catalog-text-soft {
  background-image: url(svgResource('/assets/images/icons/catalog.svg', #212529));
}

.sci-icon-magnifier-text-soft {
  background-image: url(svgResource('/assets/images/icons/magnifier.svg', #212529));
}

.sci-icon-trash-text-soft {
  background-image: url(svgResource('/assets/images/icons/trash.svg', #212529));
}

.sci-icon-close-text-soft {
  background-image: url(svgResource('/assets/images/icons/navigation/close.svg', #212529));
}

.sci-icon-close-gray {
  background-image: url(svgResource('/assets/images/icons/navigation/close.svg', $sirius-gray));
}

.sci-icon-copy-secondary {
  background-image: url(svgResource('/assets/images/icons/fontawesome/copy.svg', $sirius-gray-dark));
}

.sci-icon-copy-white,
.sci-btn-secondary-outline:hover .sci-icon-copy-secondary {
  background-image: url(svgResource('/assets/images/icons/fontawesome/copy.svg', $sirius-white));
}

.sci-icon-filter-text-soft {
  background-image: url(svgResource('/assets/images/icons/filter.svg', #212529));
}

.sci-icon-up-right-from-square-text-muted {
  background-image: url(svgResource('/assets/images/icons/up-right-from-square.svg', #6c757d));
}

.sci-icon-zoom-in-text-soft, .sci-icon-plus-text-soft {
  background-image: url(svgResource('/assets/images/icons/navigation/zoom-in.svg', #212529));
}

.sci-icon-zoom-out-text-soft, .sci-icon-minus-text-soft {
  background-image: url(svgResource('/assets/images/icons/navigation/zoom-out.svg', #212529));
}

.sci-icon-zoom-in-white,
.sci-btn-primary-outline:hover .sci-icon-zoom-in-blue,
.sci-icon-plus-white,
.sci-btn-primary-outline:hover .sci-icon-plus-blue {
  background-image: url(svgResource('/assets/images/icons/navigation/zoom-in.svg', $sirius-white));
}

.sci-icon-zoom-in-blue, .sci-icon-plus-blue {
  background-image: url(svgResource('/assets/images/icons/navigation/zoom-in.svg', #3465CC));
}

.sci-icon-zoom-out-white,
.sci-btn-primary-outline:hover .sci-icon-zoom-out-blue,
.sci-icon-minus-white,
.sci-btn-primary-outline:hover .sci-icon-minus-blue {
  background-image: url(svgResource('/assets/images/icons/navigation/zoom-out.svg', $sirius-white));
}

.sci-icon-zoom-out-blue, .sci-icon-minus-blue {
  background-image: url(svgResource('/assets/images/icons/navigation/zoom-out.svg', #3465CC));
}

.sci-icon-bars-gray-dark {
  background-image: url(svgResource('/assets/images/icons/fontawesome/bars.svg', $sirius-gray-dark));
}

.sci-icon-bars-white,
.sci-btn-primary-outline:hover .sci-icon-bars-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/bars.svg', $sirius-white));
}

.sci-icon-bars-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/bars.svg', #3465CC));
}

.sci-icon-bookmark-gray-dark {
  background-image: url(svgResource('/assets/images/icons/fontawesome/bookmark.svg', $sirius-gray-dark));
}

.sci-icon-bookmark-white,
.sci-btn-primary-outline:hover .sci-icon-bookmark-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/bookmark.svg', $sirius-white));
}

.sci-icon-bookmark-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/bookmark.svg', #3465CC));
}

.sci-icon-bookmark-outlines-gray-dark {
  background-image: url(svgResource('/assets/images/icons/fontawesome/bookmark-outlines.svg', $sirius-gray-dark));
}

.sci-icon-bookmark-outlines-white,
.sci-btn-primary-outline:hover .sci-icon-bookmark-outlines-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/bookmark-outlines.svg', $sirius-white));
}

.sci-icon-bookmark-outlines-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/bookmark-outlines.svg', #3465CC));
}

.sci-icon-clipboard-gray-dark {
  background-image: url(svgResource('/assets/images/icons/fontawesome/clipboard.svg', $sirius-gray-dark));
}

.sci-icon-clipboard-white,
.sci-btn-primary-outline:hover .sci-icon-clipboard-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/clipboard.svg', $sirius-white));
}

.sci-icon-clipboard-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/clipboard.svg', #3465CC));
}

.sci-icon-clipboard-list-gray-dark {
  background-image: url(svgResource('/assets/images/icons/fontawesome/clipboard-list.svg', $sirius-gray-dark));
}

.sci-icon-clipboard-list-white,
.sci-btn-primary-outline:hover .sci-icon-clipboard-list-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/clipboard-list.svg', $sirius-white));
}

.sci-icon-clipboard-list-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/clipboard-list.svg', #3465CC));
}

.sci-icon-clipboard-outlines-gray-dark {
  background-image: url(svgResource('/assets/images/icons/fontawesome/clipboard-outlines.svg', $sirius-gray-dark));
}

.sci-icon-clipboard-outlines-white,
.sci-btn-primary-outline:hover .sci-icon-clipboard-outlines-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/clipboard-outlines.svg', $sirius-white));
}

.sci-icon-clipboard-outlines-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/clipboard-outlines.svg', #3465CC));
}

.sci-icon-heart-gray-dark {
  background-image: url(svgResource('/assets/images/icons/fontawesome/heart.svg', $sirius-gray-dark));
}

.sci-icon-heart-white,
.sci-btn-primary-outline:hover .sci-icon-heart-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/heart.svg', $sirius-white));
}

.sci-icon-heart-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/heart.svg', #3465CC));
}

.sci-icon-heart-outlines-gray-dark {
  background-image: url(svgResource('/assets/images/icons/fontawesome/heart-outlines.svg', $sirius-gray-dark));
}

.sci-icon-heart-outlines-white,
.sci-btn-primary-outline:hover .sci-icon-heart-outlines-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/heart-outlines.svg', $sirius-white));
}

.sci-icon-heart-outlines-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/heart-outlines.svg', #3465CC));
}

.sci-icon-list-gray-dark {
  background-image: url(svgResource('/assets/images/icons/fontawesome/list.svg', $sirius-gray-dark));
}

.sci-icon-list-white,
.sci-btn-primary-outline:hover .sci-icon-list-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/list.svg', $sirius-white));
}

.sci-icon-list-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/list.svg', #3465CC));
}

.sci-icon-list-thick-gray-dark {
  background-image: url(svgResource('/assets/images/icons/fontawesome/list-thick.svg', $sirius-gray-dark));
}

.sci-icon-list-thick-white,
.sci-btn-primary-outline:hover .sci-icon-list-thick-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/list-thick.svg', $sirius-white));
}

.sci-icon-list-thick-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/list-thick.svg', #3465CC));
}

.sci-icon-star-gray-dark {
  background-image: url(svgResource('/assets/images/icons/fontawesome/star.svg', $sirius-gray-dark));
}

.sci-icon-star-white,
.sci-btn-primary-outline:hover .sci-icon-star-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/star.svg', $sirius-white));
}

.sci-icon-star-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/star.svg', #3465CC));
}

.sci-icon-star-outlines-gray-dark {
  background-image: url(svgResource('/assets/images/icons/fontawesome/star-outlines.svg', $sirius-gray-dark));
}

.sci-icon-star-outlines-white,
.sci-btn-primary-outline:hover .sci-icon-star-outlines-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/star-outlines.svg', $sirius-white));
}

.sci-icon-star-outlines-blue {
  background-image: url(svgResource('/assets/images/icons/fontawesome/star-outlines.svg', #3465CC));
}

.sci-icon-bars-text-soft {
  background-image: url(svgResource('/assets/images/icons/fontawesome/bars.svg', #212529));
}

.sci-icon-bookmark-text-soft {
  background-image: url(svgResource('/assets/images/icons/fontawesome/bookmark.svg', #212529));
}

.sci-icon-bookmark-outlines-text-soft {
  background-image: url(svgResource('/assets/images/icons/fontawesome/bookmark-outlines.svg', #212529));
}

.sci-icon-clipboard-text-soft {
  background-image: url(svgResource('/assets/images/icons/fontawesome/clipboard.svg', #212529));
}

.sci-icon-clipboard-list-text-soft {
  background-image: url(svgResource('/assets/images/icons/fontawesome/clipboard-list.svg', #212529));
}

.sci-icon-clipboard-outlines-text-soft {
  background-image: url(svgResource('/assets/images/icons/fontawesome/clipboard-outlines.svg', #212529));
}

.sci-icon-heart-text-soft {
  background-image: url(svgResource('/assets/images/icons/fontawesome/heart.svg', #212529));
}

.sci-icon-heart-outlines-text-soft {
  background-image: url(svgResource('/assets/images/icons/fontawesome/heart-outlines.svg', #212529));
}

.sci-icon-list-text-soft {
  background-image: url(svgResource('/assets/images/icons/fontawesome/list.svg', #212529));
}

.sci-icon-list-thick-text-soft {
  background-image: url(svgResource('/assets/images/icons/fontawesome/list-thick.svg', #212529));
}

.sci-icon-star-text-soft {
  background-image: url(svgResource('/assets/images/icons/fontawesome/star.svg', #212529));
}

.sci-icon-star-outlines-text-soft {
  background-image: url(svgResource('/assets/images/icons/fontawesome/star-outlines.svg', #212529));
}
