.sci-m-1 {
  margin: 0.5rem;
}

.sci-m-2 {
  margin: 1rem;
}

.sci-m-3 {
  margin: 1.5rem;
}

.sci-m-4 {
  margin: 2rem;
}

.sci-mt-1 {
  margin-top: 0.5rem;
}

.sci-mt-2 {
  margin-top: 1rem;
}

.sci-mt-3 {
  margin-top: 1.5rem;
}

.sci-mt-4 {
  margin-top: 2rem;
}

.sci-mr-1 {
  margin-right: 0.5rem;
}

.sci-mr-2 {
  margin-right: 1rem;
}

.sci-mr-3 {
  margin-right: 1.5rem;
}

.sci-mr-4 {
  margin-right: 2rem;
}

.sci-mb-1 {
  margin-bottom: 0.5rem;
}

.sci-mb-2 {
  margin-bottom: 1rem;
}

.sci-mb-3 {
  margin-bottom: 1.5rem;
}

.sci-mb-4 {
  margin-bottom: 2rem;
}

.sci-ml-1 {
  margin-left: 0.5rem;
}

.sci-ml-2 {
  margin-left: 1rem;
}

.sci-ml-3 {
  margin-left: 1.5rem;
}

.sci-ml-4 {
  margin-left: 2rem;
}

.sci-p-1 {
  padding: 0.5rem;
}

.sci-p-2 {
  padding: 1rem;
}

.sci-p-3 {
  padding: 1.5rem;
}

.sci-p-4 {
  padding: 2rem;
}

.sci-pt-1 {
  padding-top: 0.5rem;
}

.sci-pt-2 {
  padding-top: 1rem;
}

.sci-pt-3 {
  padding-top: 1.5rem;
}

.sci-pt-4 {
  padding-top: 2rem;
}

.sci-pr-1 {
  padding-right: 0.5rem;
}

.sci-pr-2 {
  padding-right: 1rem;
}

.sci-pr-3 {
  padding-right: 1.5rem;
}

.sci-pr-4 {
  padding-right: 2rem;
}

.sci-pb-1 {
  padding-bottom: 0.5rem;
}

.sci-pb-2 {
  padding-bottom: 1rem;
}

.sci-pb-3 {
  padding-bottom: 1.5rem;
}

.sci-pb-4 {
  padding-bottom: 2rem;
}

.sci-pl-1 {
  padding-left: 0.5rem;
}

.sci-pl-2 {
  padding-left: 1rem;
}

.sci-pl-3 {
  padding-left: 1.5rem;
}

.sci-pl-4 {
  padding-left: 2rem;
}

.sci-ml-auto {
  margin-left: auto;
}

.sci-mr-auto {
  margin-right: auto;
}

.sci-mt-auto {
  margin-top: auto;
}

.sci-mb-auto {
  margin-bottom: auto;
}
