.sci-message-banner {
  padding: var(--sci-base-unit);
  color: $sirius-black;
  background-color: $sirius-white;
  border-radius: calc(0.25 * var(--sci-base-unit));
  // This is no shadow, but an auxiliary border.
  box-shadow: 0 0 1px $sirius-black;
}

.sci-message-banner-success {
  @extend .sci-message-banner;
  border-left: calc(0.25 * var(--sci-base-unit)) solid $sirius-deep-blue-dark;
}

.sci-message-banner-error {
  @extend .sci-message-banner;
  border-left: calc(0.25 * var(--sci-base-unit)) solid $sirius-red;
}
