.sci-border-box, .sci-border-box * {
  box-sizing: border-box;
}

.sci-h-100 {
  height: 100%;
}

.sci-w-100 {
  width: 100%;
}

.sci-max-width-100 {
  max-width: 100%;
}

.sci-max-height-100 {
  max-height: 100%;
}

.sci-min-height-0 {
  min-height: 0;
}

.sci-min-width-0 {
  min-width: 0;
}

.sci-min-width-1 {
  min-width: 1px;
}

.sci-overflow-hidden {
  overflow: hidden;
}

.sci-overflow-auto {
  overflow: auto;
}

.sci-cursor-pointer {
  cursor: pointer;
}

.sci-cursor-default {
  cursor: default;
}

.sci-cursor-help {
  cursor: help;
}

.sci-cursor-wait {
  cursor: wait;
}

.sci-cursor-move {
  cursor: move;
}

.sci-cursor-not-allowed {
  cursor: not-allowed;
}

.sci-cursor-crosshair {
  cursor: crosshair;
}

.sci-cursor-zoom-in {
  cursor: zoom-in;
}

.sci-cursor-zoom-out {
  cursor: zoom-out;
}

.sci-cursor-text {
  cursor: text;
}

.sci-cursor-none {
  cursor: none;
}

.sci-border-radius-0 {
  border-radius: 0;
}

.sci-border-radius-tl-0 {
  border-top-left-radius: 0 !important;
}

.sci-border-radius-tr-0 {
  border-top-right-radius: 0 !important;
}

.sci-border-radius-bl-0 {
  border-bottom-left-radius: 0 !important;
}

.sci-border-radius-br-0 {
  border-bottom-right-radius: 0 !important;
}

.sci-border-radius-25 {
  border-radius: var(--sci-border-radius);
}

.sci-border-radius-tl-25 {
  border-top-left-radius: var(--sci-border-radius) !important;
}

.sci-border-radius-tr-25 {
  border-top-right-radius: var(--sci-border-radius) !important;
}

.sci-border-radius-bl-25 {
  border-bottom-left-radius: var(--sci-border-radius) !important;
}

.sci-border-radius-br-25 {
  border-bottom-right-radius: var(--sci-border-radius) !important;
}

.sci-border-radius-50 {
  border-radius: calc(2 * var(--sci-border-radius));
}

.sci-border-radius-75 {
  border-radius: calc(3 * var(--sci-border-radius));
}

.sci-shadow {
  box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
}

.sci-shadow.sci-cursor-pointer:hover {
  box-shadow: 0 1px 3px 1px rgba(66, 66, 66, 0.2), 0 2px 8px 4px rgba(66, 66, 66, 0.1);
  transition: box-shadow .25s linear;
}

.sci-border-left-0 {
  border-left: 0 !important;
}

.sci-border-right-0 {
  border-right: 0 !important;
}

.sci-border-solid-1 {
  border-width: var(--sci-border-width);
  border-style: solid;
}

.sci-border-solid-2 {
  border-width: calc(2 * var(--sci-border-width));
  border-style: solid;
}

.sci-border-top-solid-1 {
  border-top-width: var(--sci-border-width);
  border-top-style: solid;
}

.sci-border-top-solid-2 {
  border-top-width: calc(2 * var(--sci-border-width));
  border-top-style: solid;
}

.sci-border-bottom-solid-1 {
  border-bottom-width: var(--sci-border-width);
  border-bottom-style: solid;
}

.sci-border-bottom-solid-2 {
  border-bottom-width: calc(2 * var(--sci-border-width));
  border-bottom-style: solid;
}

.sci-position-relative {
  position: relative;
}

.sci-position-absolute {
  position: absolute;
}

.sci-position-fixed {
  position: fixed;
}

.sci-tag {
  padding: 4px 8px;
  border-radius: 4px;

  font-size: var(--sci-font-size-smaller);
  line-height: 1;
  font-weight: 300;

  color: white;
  background-color: #e6e6e6;

  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sci-border-tag {
  padding: 4px 8px;

  border-radius: 4px;
  border-left-style: solid;
  border-left-width: 4px;

  font-size: var(--sci-font-size-smaller);
  line-height: 1;
  font-weight: 300;

  background-color: #e6e6e6;
  color: #6c757d;

  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sci-pill {
  padding: var(--sci-margin-05) var(--sci-margin-1);
  // Set radius to half of font size + padding, resulting in a pill shape that doesn't get distorted
  border-radius: calc((var(--sci-font-size-smaller) + var(--sci-margin-1)) / 2);

  font-size: var(--sci-font-size-smaller);
  line-height: 1;
  font-weight: 300;

  color: $sirius-white;
  background-color: $sirius-gray;

  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sci-muted-link {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.sci-placeholder, .sci-placeholder::before, .sci-placeholder::after {
  width: 4.8px;
  height: 4.8px;
  border-radius: 2.4px;
  background-color: $sirius-gray;
  color: $sirius-gray;
}

.sci-placeholder {
  position: relative;
  animation: sciPlaceholderDots 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.sci-placeholder::before, .sci-placeholder::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  animation: sciPlaceholderDots 1s infinite alternate;
}

.sci-placeholder::before {
  left: -9.6px;
  animation-delay: 0s;
}

.sci-placeholder::after {
  left: 9.6px;
  animation-delay: 1s;
}

@keyframes sciPlaceholderDots {
  0% {
    background-color: $sirius-gray;
  }
  50%,
  100% {
    background-color: $sirius-gray-lighter;
  }
}

.sci-preloader {
  --preloader-size: calc(3 * var(--sci-base-unit)); /* Default size */
  --preloader-border-width: calc(0.2 * var(--sci-base-unit)); /* Default border width */

  position: relative;
  height: var(--preloader-size);
  width: var(--preloader-size);
}

.sci-preloader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--preloader-size);
  height: var(--preloader-size);
  margin-top: calc(-1 * var(--preloader-size) / 2);
  margin-left: calc(-1 * var(--preloader-size) / 2);
  border-radius: 50%;
  border-top: var(--preloader-border-width) solid $sirius-gray;
  border-right: var(--preloader-border-width) solid transparent;
  animation: sciPreloader 1s linear infinite;
}

.sci-preloader-small {
  --preloader-size: calc(2 * var(--sci-base-unit));
  --preloader-border-width: calc(0.15 * var(--sci-base-unit));
}


@keyframes sciPreloader {
  to {
    transform: rotate(360deg);
  }
}

.sci-stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}
