:root {
  --sci-font-size-base: var(--sci-base-unit); // Default: 16px / 1rem
  --sci-font-size-smallest: calc(0.7 * var(--sci-font-size-base));  // Default: 11.2px / 0.7rem
  --sci-font-size-smaller: calc(0.9 * var(--sci-font-size-base)); // Default: 14.4px / 0.9rem
  --sci-font-size-larger: calc(1.25 * var(--sci-font-size-base)); // Default: 20px / 1.25rem
  --sci-font-size-h1: calc(2.25 * var(--sci-font-size-base)); // Default: 36px / 2.25rem
  --sci-font-size-h2: calc(1.75 * var(--sci-font-size-base)); // Default: 28px / 1.75rem
  --sci-font-size-h3: calc(1.5 * var(--sci-font-size-base)); // Default: 24px / 1.5rem
  --sci-font-size-h4: calc(1.25 * var(--sci-font-size-base)); // Default: 20px / 1.25rem
  --sci-font-size-h5: calc(1.1 * var(--sci-font-size-base)); // Default: 17.6px / 1.1rem
}

.sci-enable-font {
  .sci-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}

.sci-text {
  line-height: 1.5;
  font-size: var(--sci-font-size-base);
  color: $sirius-black;
}

.sci-text-smallest {
  font-size: var(--sci-font-size-smallest);
}

.sci-text-smaller {
  font-size: var(--sci-font-size-smaller);
}

.sci-text-larger {
  font-size: var(--sci-font-size-larger);
}

.sci-text-size-h1 {
  font-size: var(--sci-font-size-h1);
}

.sci-text-size-h2 {
  font-size: var(--sci-font-size-h2);
}

.sci-text-size-h3 {
  font-size: var(--sci-font-size-h3);
}

.sci-text-size-h4 {
  font-size: var(--sci-font-size-h4);
}

.sci-text-size-h5 {
  font-size: var(--sci-font-size-h5);
}

.sci-text-ellipsis {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sci-white-space-normal {
  white-space: normal !important;
}

.sci-white-space-pre {
  white-space: pre !important;
}

.sci-white-space-pre-wrap {
  white-space: pre-wrap !important;
}

.sci-white-space-pre-line {
  white-space: pre-line !important;
}

.sci-white-space-no-wrap {
  white-space: nowrap !important;
}

.sci-line-height-100 {
  line-height: 1 !important;
}

.sci-line-height-110 {
  line-height: 1.1 !important;
}

.sci-line-height-125 {
  line-height: 1.25 !important;
}

.sci-line-height-150 {
  line-height: 1.50 !important;
}

.sci-bold {
  font-weight: bold !important;
}

.sci-light {
  font-weight: 300 !important;
}

.sci-text-soft {
  color: #212529 !important;
}

.sci-text-muted {
  color: #6c757d !important;
}

.sci-text-align-left {
  text-align: left !important;
}

.sci-text-align-center {
  text-align: center !important;
}

.sci-text-align-right {
  text-align: right !important;
}

.sci-text-vertical-align-top {
  vertical-align: top;
}

.sci-text-vertical-align-center {
  vertical-align: center;
}

.sci-text-vertical-align-bottom {
  vertical-align: bottom;
}

.sci-decoration-none {
  text-decoration: none !important;
}

.sci-decoration-underline {
  text-decoration: underline !important;
}

.sci-decoration-line-through {
  text-decoration: line-through !important;
}

.sci-text-transform-uppercase {
  text-transform: uppercase !important;
}

.sci-text-transform-lowercase {
  text-transform: lowercase !important;
}

.sci-text-transform-capitalize {
  text-transform: capitalize !important;
}
