.sci-enable-font {
  .sci-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}

.sci-text {
  line-height: 1.5;
  font-size: 1rem;
  color: $sirius-black;
}

.sci-text-smallest {
  font-size: 0.7rem;
}

.sci-text-smaller {
  font-size: 0.9rem;
}

.sci-text-larger {
  font-size: 1.25rem;
}

.sci-text-size-h1 {
  font-size: 2.25rem;
}

.sci-text-size-h2 {
  font-size: 1.75rem;
}

.sci-text-size-h3 {
  font-size: 1.5rem;
}

.sci-text-size-h4 {
  font-size: 1.25rem;
}

.sci-text-size-h5 {
  font-size: 1.1rem;
}

.sci-text-ellipsis {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sci-line-height-125 {
  line-height: 1.25;
}

// Normally, sci-text, sci-text-smaller and sci-text-larger use REM based font sizes so that our layout
// properly integrates into the page. However, some pages define ridiculous base font sizes. Therefore,
// a marker-class "sci-enable-font-size" can be placed on a surrounding element. We then use a fixed set
// of font-sizes based on 16px for desktops, 14px for tablets and 12px for mobile...
.sci-enable-font-size {

  .sci-text {
    font-size: 12px;
  }

  .sci-text-smallest {
    font-size: 8px;
  }

  .sci-text-smaller {
    font-size: 11px;
  }

  .sci-text-larger {
    font-size: 15px;
  }

  .sci-text-size-h1 {
    font-size: 27px;
  }

  .sci-text-size-h2 {
    font-size: 21px;
  }

  .sci-text-size-h3 {
    font-size: 18px;
  }

  .sci-text-size-h4 {
    font-size: 15px;
  }

  .sci-text-size-h5 {
    font-size: 13px;
  }

  @media (min-width: $md-min-width) {
    .sci-text {
      font-size: 14px;
    }

    .sci-text-smallest {
      font-size: 10px;
    }

    .sci-text-smaller {
      font-size: 12px;
    }

    .sci-text-larger {
      font-size: 17px;
    }

    .sci-text-size-h1 {
      font-size: 31px;
    }

    .sci-text-size-h2 {
      font-size: 24px;
    }

    .sci-text-size-h3 {
      font-size: 21px;
    }

    .sci-text-size-h4 {
      font-size: 18px;
    }

    .sci-text-size-h5 {
      font-size: 15px;
    }
  }

  @media (min-width: $lg-min-width) {
    .sci-text {
      font-size: 16px;
    }

    .sci-text-smallest {
      font-size: 12px;
    }

    .sci-text-smaller {
      font-size: 14px;
    }

    .sci-text-larger {
      font-size: 20px;
    }

    .sci-text-size-h1 {
      font-size: 36px;
    }

    .sci-text-size-h2 {
      font-size: 28px;
    }

    .sci-text-size-h3 {
      font-size: 24px;
    }

    .sci-text-size-h4 {
      font-size: 20px;
    }

    .sci-text-size-h5 {
      font-size: 17px;
    }
  }

}


.sci-bold {
  font-weight: bold;
}

.sci-light {
  font-weight: 300;
}

.sci-text-soft {
  color: #212529;
}

.sci-text-muted {
  color: #6c757d;
}

.sci-text-align-left {
  text-align: left;
}

.sci-text-align-center {
  text-align: center;
}

.sci-text-align-right {
  text-align: right;
}

.sci-decoration-none {
  text-decoration: none;
}

.sci-decoration-underline {
  text-decoration: underline;
}
