@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args io.netty.handler.codec.http.HttpResponseStatus status, String message
@extends(view.wondergem.template.html, title: NLS.get("BasicController.404"))

@render(head) {
    <style>
        .breadcrumb {
            display: none;
        }
    </style>
}

@pageHeader() {
    @i18n("BasicController.404")
}

<div class="well">
    <pre style="font-size: small">
        @message
    </pre>
</div>
<a href="@prefix/" class="btn"><i class="fa fa-angle-double-left"></i> @NLS.get("BasicController.toDashboard")</a>