<div id="menu-nav" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#main-menu" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@config.getString("product.wondergemRoot")">
                <img src="/assets/images/menu_logo.png" border="0" style="max-height: 33px"/>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                @includeExtensions("view-menu-left")
            </ul>
            <ul class="nav navbar-nav pull-right">
                @includeExtensions("view-menu-right")
            </ul>
        </div>
    </div>
</div>