div {
    color1: #f00;
    color2: rgba(100,200,100,0);
    color3: #6e6e6e;
    color4: #5a5a5a;
    color5: rgba(255,0,0,0.5);
    color6: rgba(100,100,100,0.3);
    color7: rgba(0,0,255,0.8);
    color8: rgba(0,0,255,0.2);
    color9: rgba(80,80,131,0.9);
    opacity: 0.5;
}
