@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args String name, List files, String contents
@extends(view.wondergem.template.html, title: (NLS.get("ScopeDefaultConfigController.config")))

@section(head) {
    <script src="/assets/wondergem/ace/ace.js" type="text/javascript"></script>
}

@section(breadcrumbs) {
<li>
    <a href="@prefix/scope-config">@i18n("ScopeDefaultConfigController.config")</a>
</li>
<li>
    <a href="@prefix/scope-config/@name">@name</a>
</li>
}

@pageHeader("ScopeDefaultConfigController.config")

<div class="row">
    <div class="col-md-3">
        @navbox() {
            <li class="nav-header">@i18n("ScopeDefaultConfigController.files")</li>
            @for(String file : files) {
                <li class="@if(name == file) { active }">
                    <a href="@prefix/system/scope-config/@file" class="link">
                        @file
                    </a>
                </li>
            }
        }
    </div>
    <div class="col-md-9">
        <div id="editor" style="height: 450px">@contents</div>
        <script type="text/javascript">
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/idle_fingers");
            editor.setReadOnly(true);
        </script>
    </div>
</div>
