
<!-- SIRIUS:TRACE - start rendering template /templates/debug/debug-page.html.pasta -->
<!DOCTYPE html>
<html>
<head>

    <!-- SIRIUS:TRACE - start rendering template /templates/debug/debug-css1.html.pasta -->
    <style>
        h1 {
            color: red;
            background-color: black;
        }

        /* SIRIUS:TRACE - start rendering template /templates/debug/debug-css2.html.pasta */
        h2 {
            color: green;
            background-color: white;
        }
        /* SIRIUS:TRACE - finish rendering template /templates/debug/debug-css2.html.pasta */
    </style>
    <!-- SIRIUS:TRACE - finish rendering template /templates/debug/debug-css1.html.pasta -->

    <!-- SIRIUS:TRACE - start rendering template /templates/debug/debug-script1.html.pasta -->
    <script type="text/javascript">
        function helloWorld() {
            return "hello world"
        }

        /* SIRIUS:TRACE - start rendering template /templates/debug/debug-script2.html.pasta */
        function helloUniverse() {
            return "hello universe"
        }
        /* SIRIUS:TRACE - finish rendering template /templates/debug/debug-script2.html.pasta */
    </script>
    <!-- SIRIUS:TRACE - finish rendering template /templates/debug/debug-script1.html.pasta -->
</head>
</html>
<!-- SIRIUS:TRACE - finish rendering template /templates/debug/debug-page.html.pasta -->
