@extends(view.wondergem.template.html, title: product + " - Console")
@section(head) {
    <script language="javascript" type="text/javascript" src="@prefix/assets/terminal/jquery.terminal-0.8.8.js"></script>
    <link href="@prefix/assets/terminal/jquery.terminal.css" rel="stylesheet" />
    <script>
        $(document).ready(function ($) {
            $('#term').terminal('@prefix/service/json/system/console', {
                greetings: '@product (@detailedVersion) - Type "help" for a list of available commands.'
            });


        });

        function handleResize() {
            $('#term').css('height', ($(window).height() - $('.footer').outerHeight() - $('#term').position().top)+'px');
        }
    </script>
    <style>
        body {
            background: url('@prefix/assets/terminal/low_contrast_linen.png');
        }

        #term {
            overflow-x: auto;
            overflow-y: auto;
            padding: 0;
        }

        .breadcrumbs {
            display: none;
        }

        .terminal, .terminal .terminal-output, .terminal .terminal-output div, .terminal .terminal-output div div,
        .cmd, .terminal .cmd span, .terminal .cmd div
        {
            background-color: inherit;
            color: #CCCCCC;
            font-family: "Consolas", "Courier New", monospace;
            font-size: 16px;
        }
    </style>
}

<div id="term"></div>
