<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="@prefix/">
            </a>
            <ul class="nav">
                <li><a href="@prefix/system/state">State</a></li>
                <li><a href="@prefix/system/console">Console</a></li>
                <li><a href="@prefix/system/logs">Logs</a></li>
                <li><a href="@prefix/system/errors">Errors</a></li>
                <li><a href="@prefix/system/info">Info</a></li>
            </ul>
        </div>
    </div>
</div>