<!DOCTYPE html>
@*
 *  Made with all the love in the world
 *  by scireum in Remshalden, Germany
 *
 *  Copyright by scireum GmbH
 *  http://www.scireum.de - info@scireum.de
 *@
@import view.*
@args String title
<!--
  ~ Made with all the love in the world
  ~ by scireum in Remshalden, Germany
  ~
  ~ Copyright by scireum GmbH
  ~ http://www.scireum.de - info@@scireum.de
  -->

<html lang="@NLS.getCurrentLang()">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script language="javascript" type="text/javascript" src="@prefix/assets/system/js/jquery-1.5.min.js"></script>
        <script language="javascript" type="text/javascript" src="@prefix/assets/system/js/bootstrap.js"></script>
        <link rel="stylesheet" media="screen" href="@prefix/assets/system/css/bootstrap.css">

        @render(head) {
        }
    </head>
    <body>
        @view.system.menu.html()
        <div class="wrap">
            @render(header) {
            }
            <div @render(maindiv) { class="container" style="padding-top: 30px;" }>
                @render(aboveMessages) {
                }
                @render(messages) {
                    <div class="row">
                        <div class="span12" id="messageBox">
                            @for(sirius.web.controller.Message msg : user.getMessages()) {
                                <div class="alert @msg.getType()">
                                    @msg.getMessage()
                                    @if (msg.getAction() != null) {
                                        @if (msg.isActionJavascript()) {
                                            <a href="#" onclick="@msg.getAction()" class="link link-info">@msg.getActionLabel()</a>
                                        } else {
                                            <a href="@prefix/@msg.getAction()" class="link link-info">@msg.getActionLabel()</a>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
                @render
            </div>
        </div>
        @render(footer) {

        }
    </body>
</html>
